In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read the 50_Startups.csv

df = pd.read_csv('50_Startups.csv')
df

          RND      ADMIN        MKT       STATE     PROFIT
0   165349.20  136897.80  471784.10    New York  192261.83
1   162597.70  151377.59  443898.53  California  191792.06
2   153441.51  101145.55  407934.54     Florida  191050.39
3   144372.41  118671.85  383199.62    New York  182901.99
4   142107.34   91391.77  366168.42     Florida  166187.94
5   131876.90   99814.71  362861.36    New York  156991.12
6   134615.46  147198.87  127716.82  California  156122.51
7   130298.13  145530.06  323876.68     Florida  155752.60
8   120542.52  148718.95  311613.29    New York  152211.77
9   123334.88  108679.17  304981.62  California  149759.96
10  101913.08  110594.11  229160.95     Florida  146121.95
11  100671.96   91790.61  249744.55  California  144259.40
12   93863.75  127320.38  249839.44     Florida  141585.52
13   91992.39  135495.07  252664.93  California  134307.35
14  119943.24  156547.42  256512.92     Florida  132602.65
15  114523.61  122616.84  261776.23    New York  129917.04
16   78013.11  121597.55  264346.06  California  126992.93
17   94657.16  145077.58  282574.31    New York  125370.37
18   91749.16  114175.79  294919.57     Florida  124266.90
19   86419.70  153514.11       0.00    New York  122776.86
20   76253.86  113867.30  298664.47  California  118474.03
21   78389.47  153773.43  299737.29    New York  111313.02
22   73994.56  122782.75  303319.26     Florida  110352.25
23   67532.53  105751.03  304768.73     Florida  108733.99
24   77044.01   99281.34  140574.81    New York  108552.04
25   64664.71  139553.16  137962.62  California  107404.34
26   75328.87  144135.98  134050.07     Florida  105733.54
27   72107.60  127864.55  353183.81    New York  105008.31
28   66051.52  182645.56  118148.20     Florida  103282.38
29   65605.48  153032.06  107138.38    New York  101004.64
30   61994.48  115641.28   91131.24     Florida   99937.59
31   61136.38  152701.92   88218.23    New York   97483.56
32   63408.86  129219.61   46085.25  California   97427.84
33   55493.95  103057.49  214634.81     Florida   96778.92
34   46426.07  157693.92  210797.67  California   96712.80
35   46014.02   85047.44  205517.64    New York   96479.51
36   28663.76  127056.21  201126.82     Florida   90708.19
37   44069.95   51283.14  197029.42  California   89949.14
38   20229.59   65947.93  185265.10    New York   81229.06
39   38558.51   82982.09  174999.30  California   81005.76
40   28754.33  118546.05  172795.67  California   78239.91
41   27892.92   84710.77  164470.71     Florida   77798.83
42   23640.93   96189.63  148001.11  California   71498.49
43   15505.73  127382.30   35534.17    New York   69758.98
44   22177.74  154806.14   28334.72  California   65200.33
45    1000.23  124153.04    1903.93    New York   64926.08
46    1315.46  115816.21  297114.46     Florida   49490.75
47       0.00  135426.92       0.00  California   42559.73
48     542.05   51743.15       0.00    New York   35673.41
49       0.00  116983.80   45173.06  California   14681.40

# 1.value_counts

In [ ]:
>> It returns a series of unique value counts

syntax>> df[categorical_column_name].value_counts()

Note - Dont use value_counts() function on any numerical column. Use this function only on
       categorical column.

In [3]:
# Find value counts of STATE column
df['STATE'].value_counts()

New York      17
California    17
Florida       16
Name: STATE, dtype: int64

In [4]:
# Find value counts of STATE column
df.STATE.value_counts()

New York      17
California    17
Florida       16
Name: STATE, dtype: int64

In [5]:
type(df.STATE.value_counts())

pandas.core.series.Series

# 2.Series to dict

In [ ]:
>> Convert output of value counts function(series) to dictionary

syntax>> df[categorical_column_name].value_counts().to_dict()

In [6]:
# STATE column
df['STATE'].value_counts().to_dict()

{'New York': 17, 'California': 17, 'Florida': 16}

# 3.unique

In [6]:
>> Return array of unique values in a column

syntax >> df[Categorical_column_name].unique()

In [7]:
# Find unique values in STATE column
df['STATE'].unique()

array(['New York', 'California', 'Florida'], dtype=object)

# 4.nunique()

>> It returns number of unique values in a column

syntax >> df[Categorical_column_name].nunique()

In [8]:
# Find number of unique values in STATE column
df['STATE'].nunique()

3

# 5. Replace

>> This function is used to replace a specified value with another specified value

syntax >> df.replace({oldvalue1:newvalue1,oldvalue2:newvalue2 .....})

In [11]:
df['STATE'].value_counts().to_dict()

{'New York': 17, 'California': 17, 'Florida': 16}

In [14]:
# Replace the values of the STATE column with 0,1,2

df.replace({'New York': 0, 'California': 1, 'Florida': 2},inplace=True)

In [15]:
df

          RND      ADMIN        MKT  STATE     PROFIT
0   165349.20  136897.80  471784.10      0  192261.83
1   162597.70  151377.59  443898.53      1  191792.06
2   153441.51  101145.55  407934.54      2  191050.39
3   144372.41  118671.85  383199.62      0  182901.99
4   142107.34   91391.77  366168.42      2  166187.94
5   131876.90   99814.71  362861.36      0  156991.12
6   134615.46  147198.87  127716.82      1  156122.51
7   130298.13  145530.06  323876.68      2  155752.60
8   120542.52  148718.95  311613.29      0  152211.77
9   123334.88  108679.17  304981.62      1  149759.96
10  101913.08  110594.11  229160.95      2  146121.95
11  100671.96   91790.61  249744.55      1  144259.40
12   93863.75  127320.38  249839.44      2  141585.52
13   91992.39  135495.07  252664.93      1  134307.35
14  119943.24  156547.42  256512.92      2  132602.65
15  114523.61  122616.84  261776.23      0  129917.04
16   78013.11  121597.55  264346.06      1  126992.93
17   94657.16  145077.58  282574.31      0  125370.37
18   91749.16  114175.79  294919.57      2  124266.90
19   86419.70  153514.11       0.00      0  122776.86
20   76253.86  113867.30  298664.47      1  118474.03
21   78389.47  153773.43  299737.29      0  111313.02
22   73994.56  122782.75  303319.26      2  110352.25
23   67532.53  105751.03  304768.73      2  108733.99
24   77044.01   99281.34  140574.81      0  108552.04
25   64664.71  139553.16  137962.62      1  107404.34
26   75328.87  144135.98  134050.07      2  105733.54
27   72107.60  127864.55  353183.81      0  105008.31
28   66051.52  182645.56  118148.20      2  103282.38
29   65605.48  153032.06  107138.38      0  101004.64
30   61994.48  115641.28   91131.24      2   99937.59
31   61136.38  152701.92   88218.23      0   97483.56
32   63408.86  129219.61   46085.25      1   97427.84
33   55493.95  103057.49  214634.81      2   96778.92
34   46426.07  157693.92  210797.67      1   96712.80
35   46014.02   85047.44  205517.64      0   96479.51
36   28663.76  127056.21  201126.82      2   90708.19
37   44069.95   51283.14  197029.42      1   89949.14
38   20229.59   65947.93  185265.10      0   81229.06
39   38558.51   82982.09  174999.30      1   81005.76
40   28754.33  118546.05  172795.67      1   78239.91
41   27892.92   84710.77  164470.71      2   77798.83
42   23640.93   96189.63  148001.11      1   71498.49
43   15505.73  127382.30   35534.17      0   69758.98
44   22177.74  154806.14   28334.72      1   65200.33
45    1000.23  124153.04    1903.93      0   64926.08
46    1315.46  115816.21  297114.46      2   49490.75
47       0.00  135426.92       0.00      1   42559.73
48     542.05   51743.15       0.00      0   35673.41
49       0.00  116983.80   45173.06      1   14681.40

In [17]:
df['RND'].replace({165349.20:'python'},inplace=True)

In [18]:
df

          RND      ADMIN        MKT  STATE     PROFIT
0      python  136897.80  471784.10      0  192261.83
1    162597.7  151377.59  443898.53      1  191792.06
2   153441.51  101145.55  407934.54      2  191050.39
3   144372.41  118671.85  383199.62      0  182901.99
4   142107.34   91391.77  366168.42      2  166187.94
5    131876.9   99814.71  362861.36      0  156991.12
6   134615.46  147198.87  127716.82      1  156122.51
7   130298.13  145530.06  323876.68      2  155752.60
8   120542.52  148718.95  311613.29      0  152211.77
9   123334.88  108679.17  304981.62      1  149759.96
10  101913.08  110594.11  229160.95      2  146121.95
11  100671.96   91790.61  249744.55      1  144259.40
12   93863.75  127320.38  249839.44      2  141585.52
13   91992.39  135495.07  252664.93      1  134307.35
14  119943.24  156547.42  256512.92      2  132602.65
15  114523.61  122616.84  261776.23      0  129917.04
16   78013.11  121597.55  264346.06      1  126992.93
17   94657.16  145077.58  282574.31      0  125370.37
18   91749.16  114175.79  294919.57      2  124266.90
19    86419.7  153514.11       0.00      0  122776.86
20   76253.86  113867.30  298664.47      1  118474.03
21   78389.47  153773.43  299737.29      0  111313.02
22   73994.56  122782.75  303319.26      2  110352.25
23   67532.53  105751.03  304768.73      2  108733.99
24   77044.01   99281.34  140574.81      0  108552.04
25   64664.71  139553.16  137962.62      1  107404.34
26   75328.87  144135.98  134050.07      2  105733.54
27    72107.6  127864.55  353183.81      0  105008.31
28   66051.52  182645.56  118148.20      2  103282.38
29   65605.48  153032.06  107138.38      0  101004.64
30   61994.48  115641.28   91131.24      2   99937.59
31   61136.38  152701.92   88218.23      0   97483.56
32   63408.86  129219.61   46085.25      1   97427.84
33   55493.95  103057.49  214634.81      2   96778.92
34   46426.07  157693.92  210797.67      1   96712.80
35   46014.02   85047.44  205517.64      0   96479.51
36   28663.76  127056.21  201126.82      2   90708.19
37   44069.95   51283.14  197029.42      1   89949.14
38   20229.59   65947.93  185265.10      0   81229.06
39   38558.51   82982.09  174999.30      1   81005.76
40   28754.33  118546.05  172795.67      1   78239.91
41   27892.92   84710.77  164470.71      2   77798.83
42   23640.93   96189.63  148001.11      1   71498.49
43   15505.73  127382.30   35534.17      0   69758.98
44   22177.74  154806.14   28334.72      1   65200.33
45    1000.23  124153.04    1903.93      0   64926.08
46    1315.46  115816.21  297114.46      2   49490.75
47        0.0  135426.92       0.00      1   42559.73
48     542.05   51743.15       0.00      0   35673.41
49        0.0  116983.80   45173.06      1   14681.40

# 6.astype()

>> This function is used to change the datatype of any column

>> This function doesnt have the inplace parameter. So to change the original dataframe 
   we have to assign the value to that dataframe itself.
    
>> Datatype of column having NAN value is float. If there are NAN value in any column we cannot
   convert that column datatype from float to int.For this we have to fill that NAN values and 
   then convert datatype from float to int.

syntax >> df[column_name] = df[column_name].astype(new_datatype)

In [ ]:
int >> float
float >> int
int,float >> str
str >> int,float (if string contains only numbers)

In [20]:
df = pd.read_csv('50_Startups.csv')
df

          RND      ADMIN        MKT       STATE     PROFIT
0   165349.20  136897.80  471784.10    New York  192261.83
1   162597.70  151377.59  443898.53  California  191792.06
2   153441.51  101145.55  407934.54     Florida  191050.39
3   144372.41  118671.85  383199.62    New York  182901.99
4   142107.34   91391.77  366168.42     Florida  166187.94
5   131876.90   99814.71  362861.36    New York  156991.12
6   134615.46  147198.87  127716.82  California  156122.51
7   130298.13  145530.06  323876.68     Florida  155752.60
8   120542.52  148718.95  311613.29    New York  152211.77
9   123334.88  108679.17  304981.62  California  149759.96
10  101913.08  110594.11  229160.95     Florida  146121.95
11  100671.96   91790.61  249744.55  California  144259.40
12   93863.75  127320.38  249839.44     Florida  141585.52
13   91992.39  135495.07  252664.93  California  134307.35
14  119943.24  156547.42  256512.92     Florida  132602.65
15  114523.61  122616.84  261776.23    New York  129917.04
16   78013.11  121597.55  264346.06  California  126992.93
17   94657.16  145077.58  282574.31    New York  125370.37
18   91749.16  114175.79  294919.57     Florida  124266.90
19   86419.70  153514.11       0.00    New York  122776.86
20   76253.86  113867.30  298664.47  California  118474.03
21   78389.47  153773.43  299737.29    New York  111313.02
22   73994.56  122782.75  303319.26     Florida  110352.25
23   67532.53  105751.03  304768.73     Florida  108733.99
24   77044.01   99281.34  140574.81    New York  108552.04
25   64664.71  139553.16  137962.62  California  107404.34
26   75328.87  144135.98  134050.07     Florida  105733.54
27   72107.60  127864.55  353183.81    New York  105008.31
28   66051.52  182645.56  118148.20     Florida  103282.38
29   65605.48  153032.06  107138.38    New York  101004.64
30   61994.48  115641.28   91131.24     Florida   99937.59
31   61136.38  152701.92   88218.23    New York   97483.56
32   63408.86  129219.61   46085.25  California   97427.84
33   55493.95  103057.49  214634.81     Florida   96778.92
34   46426.07  157693.92  210797.67  California   96712.80
35   46014.02   85047.44  205517.64    New York   96479.51
36   28663.76  127056.21  201126.82     Florida   90708.19
37   44069.95   51283.14  197029.42  California   89949.14
38   20229.59   65947.93  185265.10    New York   81229.06
39   38558.51   82982.09  174999.30  California   81005.76
40   28754.33  118546.05  172795.67  California   78239.91
41   27892.92   84710.77  164470.71     Florida   77798.83
42   23640.93   96189.63  148001.11  California   71498.49
43   15505.73  127382.30   35534.17    New York   69758.98
44   22177.74  154806.14   28334.72  California   65200.33
45    1000.23  124153.04    1903.93    New York   64926.08
46    1315.46  115816.21  297114.46     Florida   49490.75
47       0.00  135426.92       0.00  California   42559.73
48     542.05   51743.15       0.00    New York   35673.41
49       0.00  116983.80   45173.06  California   14681.40

In [21]:
# Check the datatypes of every columns of 50_startups.csv

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RND     50 non-null     float64
 1   ADMIN   50 non-null     float64
 2   MKT     50 non-null     float64
 3   STATE   50 non-null     object
 4   PROFIT  50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [22]:
# Change the datatype of RND column to int
# df[column_name] = df[column_name].astype(new_datatype)

df['RND'] = df['RND'].astype(int)
df

       RND      ADMIN        MKT       STATE     PROFIT
0   165349  136897.80  471784.10    New York  192261.83
1   162597  151377.59  443898.53  California  191792.06
2   153441  101145.55  407934.54     Florida  191050.39
3   144372  118671.85  383199.62    New York  182901.99
4   142107   91391.77  366168.42     Florida  166187.94
5   131876   99814.71  362861.36    New York  156991.12
6   134615  147198.87  127716.82  California  156122.51
7   130298  145530.06  323876.68     Florida  155752.60
8   120542  148718.95  311613.29    New York  152211.77
9   123334  108679.17  304981.62  California  149759.96
10  101913  110594.11  229160.95     Florida  146121.95
11  100671   91790.61  249744.55  California  144259.40
12   93863  127320.38  249839.44     Florida  141585.52
13   91992  135495.07  252664.93  California  134307.35
14  119943  156547.42  256512.92     Florida  132602.65
15  114523  122616.84  261776.23    New York  129917.04
16   78013  121597.55  264346.06  California  126992.93
17   94657  145077.58  282574.31    New York  125370.37
18   91749  114175.79  294919.57     Florida  124266.90
19   86419  153514.11       0.00    New York  122776.86
20   76253  113867.30  298664.47  California  118474.03
21   78389  153773.43  299737.29    New York  111313.02
22   73994  122782.75  303319.26     Florida  110352.25
23   67532  105751.03  304768.73     Florida  108733.99
24   77044   99281.34  140574.81    New York  108552.04
25   64664  139553.16  137962.62  California  107404.34
26   75328  144135.98  134050.07     Florida  105733.54
27   72107  127864.55  353183.81    New York  105008.31
28   66051  182645.56  118148.20     Florida  103282.38
29   65605  153032.06  107138.38    New York  101004.64
30   61994  115641.28   91131.24     Florida   99937.59
31   61136  152701.92   88218.23    New York   97483.56
32   63408  129219.61   46085.25  California   97427.84
33   55493  103057.49  214634.81     Florida   96778.92
34   46426  157693.92  210797.67  California   96712.80
35   46014   85047.44  205517.64    New York   96479.51
36   28663  127056.21  201126.82     Florida   90708.19
37   44069   51283.14  197029.42  California   89949.14
38   20229   65947.93  185265.10    New York   81229.06
39   38558   82982.09  174999.30  California   81005.76
40   28754  118546.05  172795.67  California   78239.91
41   27892   84710.77  164470.71     Florida   77798.83
42   23640   96189.63  148001.11  California   71498.49
43   15505  127382.30   35534.17    New York   69758.98
44   22177  154806.14   28334.72  California   65200.33
45    1000  124153.04    1903.93    New York   64926.08
46    1315  115816.21  297114.46     Florida   49490.75
47       0  135426.92       0.00  California   42559.73
48     542   51743.15       0.00    New York   35673.41
49       0  116983.80   45173.06  California   14681.40

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RND     50 non-null     int32
 1   ADMIN   50 non-null     float64
 2   MKT     50 non-null     float64
 3   STATE   50 non-null     object
 4   PROFIT  50 non-null     float64
dtypes: float64(3), int32(1), object(1)
memory usage: 1.9+ KB

In [24]:
# Again change the datatype of RND column to float
df['RND'] = df['RND'].astype(float)
df

         RND      ADMIN        MKT       STATE     PROFIT
0   165349.0  136897.80  471784.10    New York  192261.83
1   162597.0  151377.59  443898.53  California  191792.06
2   153441.0  101145.55  407934.54     Florida  191050.39
3   144372.0  118671.85  383199.62    New York  182901.99
4   142107.0   91391.77  366168.42     Florida  166187.94
5   131876.0   99814.71  362861.36    New York  156991.12
6   134615.0  147198.87  127716.82  California  156122.51
7   130298.0  145530.06  323876.68     Florida  155752.60
8   120542.0  148718.95  311613.29    New York  152211.77
9   123334.0  108679.17  304981.62  California  149759.96
10  101913.0  110594.11  229160.95     Florida  146121.95
11  100671.0   91790.61  249744.55  California  144259.40
12   93863.0  127320.38  249839.44     Florida  141585.52
13   91992.0  135495.07  252664.93  California  134307.35
14  119943.0  156547.42  256512.92     Florida  132602.65
15  114523.0  122616.84  261776.23    New York  129917.04
16   78013.0  121597.55  264346.06  California  126992.93
17   94657.0  145077.58  282574.31    New York  125370.37
18   91749.0  114175.79  294919.57     Florida  124266.90
19   86419.0  153514.11       0.00    New York  122776.86
20   76253.0  113867.30  298664.47  California  118474.03
21   78389.0  153773.43  299737.29    New York  111313.02
22   73994.0  122782.75  303319.26     Florida  110352.25
23   67532.0  105751.03  304768.73     Florida  108733.99
24   77044.0   99281.34  140574.81    New York  108552.04
25   64664.0  139553.16  137962.62  California  107404.34
26   75328.0  144135.98  134050.07     Florida  105733.54
27   72107.0  127864.55  353183.81    New York  105008.31
28   66051.0  182645.56  118148.20     Florida  103282.38
29   65605.0  153032.06  107138.38    New York  101004.64
30   61994.0  115641.28   91131.24     Florida   99937.59
31   61136.0  152701.92   88218.23    New York   97483.56
32   63408.0  129219.61   46085.25  California   97427.84
33   55493.0  103057.49  214634.81     Florida   96778.92
34   46426.0  157693.92  210797.67  California   96712.80
35   46014.0   85047.44  205517.64    New York   96479.51
36   28663.0  127056.21  201126.82     Florida   90708.19
37   44069.0   51283.14  197029.42  California   89949.14
38   20229.0   65947.93  185265.10    New York   81229.06
39   38558.0   82982.09  174999.30  California   81005.76
40   28754.0  118546.05  172795.67  California   78239.91
41   27892.0   84710.77  164470.71     Florida   77798.83
42   23640.0   96189.63  148001.11  California   71498.49
43   15505.0  127382.30   35534.17    New York   69758.98
44   22177.0  154806.14   28334.72  California   65200.33
45    1000.0  124153.04    1903.93    New York   64926.08
46    1315.0  115816.21  297114.46     Florida   49490.75
47       0.0  135426.92       0.00  California   42559.73
48     542.0   51743.15       0.00    New York   35673.41
49       0.0  116983.80   45173.06  California   14681.40

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RND     50 non-null     float64
 1   ADMIN   50 non-null     float64
 2   MKT     50 non-null     float64
 3   STATE   50 non-null     object
 4   PROFIT  50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [28]:
# Change the datatype of MKT column to object

df['MKT'] = df['MKT'].astype(object)
df

         RND      ADMIN        MKT       STATE     PROFIT
0   165349.0  136897.80   471784.1    New York  192261.83
1   162597.0  151377.59  443898.53  California  191792.06
2   153441.0  101145.55  407934.54     Florida  191050.39
3   144372.0  118671.85  383199.62    New York  182901.99
4   142107.0   91391.77  366168.42     Florida  166187.94
5   131876.0   99814.71  362861.36    New York  156991.12
6   134615.0  147198.87  127716.82  California  156122.51
7   130298.0  145530.06  323876.68     Florida  155752.60
8   120542.0  148718.95  311613.29    New York  152211.77
9   123334.0  108679.17  304981.62  California  149759.96
10  101913.0  110594.11  229160.95     Florida  146121.95
11  100671.0   91790.61  249744.55  California  144259.40
12   93863.0  127320.38  249839.44     Florida  141585.52
13   91992.0  135495.07  252664.93  California  134307.35
14  119943.0  156547.42  256512.92     Florida  132602.65
15  114523.0  122616.84  261776.23    New York  129917.04
16   78013.0  121597.55  264346.06  California  126992.93
17   94657.0  145077.58  282574.31    New York  125370.37
18   91749.0  114175.79  294919.57     Florida  124266.90
19   86419.0  153514.11        0.0    New York  122776.86
20   76253.0  113867.30  298664.47  California  118474.03
21   78389.0  153773.43  299737.29    New York  111313.02
22   73994.0  122782.75  303319.26     Florida  110352.25
23   67532.0  105751.03  304768.73     Florida  108733.99
24   77044.0   99281.34  140574.81    New York  108552.04
25   64664.0  139553.16  137962.62  California  107404.34
26   75328.0  144135.98  134050.07     Florida  105733.54
27   72107.0  127864.55  353183.81    New York  105008.31
28   66051.0  182645.56   118148.2     Florida  103282.38
29   65605.0  153032.06  107138.38    New York  101004.64
30   61994.0  115641.28   91131.24     Florida   99937.59
31   61136.0  152701.92   88218.23    New York   97483.56
32   63408.0  129219.61   46085.25  California   97427.84
33   55493.0  103057.49  214634.81     Florida   96778.92
34   46426.0  157693.92  210797.67  California   96712.80
35   46014.0   85047.44  205517.64    New York   96479.51
36   28663.0  127056.21  201126.82     Florida   90708.19
37   44069.0   51283.14  197029.42  California   89949.14
38   20229.0   65947.93   185265.1    New York   81229.06
39   38558.0   82982.09   174999.3  California   81005.76
40   28754.0  118546.05  172795.67  California   78239.91
41   27892.0   84710.77  164470.71     Florida   77798.83
42   23640.0   96189.63  148001.11  California   71498.49
43   15505.0  127382.30   35534.17    New York   69758.98
44   22177.0  154806.14   28334.72  California   65200.33
45    1000.0  124153.04    1903.93    New York   64926.08
46    1315.0  115816.21  297114.46     Florida   49490.75
47       0.0  135426.92        0.0  California   42559.73
48     542.0   51743.15        0.0    New York   35673.41
49       0.0  116983.80   45173.06  California   14681.40

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RND     50 non-null     float64
 1   ADMIN   50 non-null     float64
 2   MKT     50 non-null     object
 3   STATE   50 non-null     object
 4   PROFIT  50 non-null     float64
dtypes: float64(3), object(2)
memory usage: 2.1+ KB

In [30]:
# Again Change the datatype of MKT column to float
df['MKT'] = df['MKT'].astype(float)
df

         RND      ADMIN        MKT       STATE     PROFIT
0   165349.0  136897.80  471784.10    New York  192261.83
1   162597.0  151377.59  443898.53  California  191792.06
2   153441.0  101145.55  407934.54     Florida  191050.39
3   144372.0  118671.85  383199.62    New York  182901.99
4   142107.0   91391.77  366168.42     Florida  166187.94
5   131876.0   99814.71  362861.36    New York  156991.12
6   134615.0  147198.87  127716.82  California  156122.51
7   130298.0  145530.06  323876.68     Florida  155752.60
8   120542.0  148718.95  311613.29    New York  152211.77
9   123334.0  108679.17  304981.62  California  149759.96
10  101913.0  110594.11  229160.95     Florida  146121.95
11  100671.0   91790.61  249744.55  California  144259.40
12   93863.0  127320.38  249839.44     Florida  141585.52
13   91992.0  135495.07  252664.93  California  134307.35
14  119943.0  156547.42  256512.92     Florida  132602.65
15  114523.0  122616.84  261776.23    New York  129917.04
16   78013.0  121597.55  264346.06  California  126992.93
17   94657.0  145077.58  282574.31    New York  125370.37
18   91749.0  114175.79  294919.57     Florida  124266.90
19   86419.0  153514.11       0.00    New York  122776.86
20   76253.0  113867.30  298664.47  California  118474.03
21   78389.0  153773.43  299737.29    New York  111313.02
22   73994.0  122782.75  303319.26     Florida  110352.25
23   67532.0  105751.03  304768.73     Florida  108733.99
24   77044.0   99281.34  140574.81    New York  108552.04
25   64664.0  139553.16  137962.62  California  107404.34
26   75328.0  144135.98  134050.07     Florida  105733.54
27   72107.0  127864.55  353183.81    New York  105008.31
28   66051.0  182645.56  118148.20     Florida  103282.38
29   65605.0  153032.06  107138.38    New York  101004.64
30   61994.0  115641.28   91131.24     Florida   99937.59
31   61136.0  152701.92   88218.23    New York   97483.56
32   63408.0  129219.61   46085.25  California   97427.84
33   55493.0  103057.49  214634.81     Florida   96778.92
34   46426.0  157693.92  210797.67  California   96712.80
35   46014.0   85047.44  205517.64    New York   96479.51
36   28663.0  127056.21  201126.82     Florida   90708.19
37   44069.0   51283.14  197029.42  California   89949.14
38   20229.0   65947.93  185265.10    New York   81229.06
39   38558.0   82982.09  174999.30  California   81005.76
40   28754.0  118546.05  172795.67  California   78239.91
41   27892.0   84710.77  164470.71     Florida   77798.83
42   23640.0   96189.63  148001.11  California   71498.49
43   15505.0  127382.30   35534.17    New York   69758.98
44   22177.0  154806.14   28334.72  California   65200.33
45    1000.0  124153.04    1903.93    New York   64926.08
46    1315.0  115816.21  297114.46     Florida   49490.75
47       0.0  135426.92       0.00  California   42559.73
48     542.0   51743.15       0.00    New York   35673.41
49       0.0  116983.80   45173.06  California   14681.40

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RND     50 non-null     float64
 1   ADMIN   50 non-null     float64
 2   MKT     50 non-null     float64
 3   STATE   50 non-null     object
 4   PROFIT  50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [33]:
# Change the datatype of STATE column to float
df['STATE'] = df['STATE'].astype(float)

ValueError: could not convert string to float: 'New York'

# Creating new columns from existing columns (derived columns)/ Creating extra columns in DF based on operations

In [40]:
# Create a dataframe having 6 rows and 3 columns

array = np.random.randint(1,10,size=(6,3))
array

array([[5, 1, 2],
       [1, 6, 4],
       [2, 5, 9],
       [1, 6, 1],
       [7, 6, 8],
       [9, 2, 6]])

In [41]:
df = pd.DataFrame(array,columns=['A','B','C'])
df

   A  B  C
0  5  1  2
1  1  6  4
2  2  5  9
3  1  6  1
4  7  6  8
5  9  2  6

In [42]:
# Add square column
df['Square_A'] = df['A']**2
df

   A  B  C  Square_A
0  5  1  2        25
1  1  6  4         1
2  2  5  9         4
3  1  6  1         1
4  7  6  8        49
5  9  2  6        81

In [43]:
# Add cube column

df['Cube_B'] = df['B']**3
df

   A  B  C  Square_A  Cube_B
0  5  1  2        25       1
1  1  6  4         1     216
2  2  5  9         4     125
3  1  6  1         1     216
4  7  6  8        49     216
5  9  2  6        81       8

In [44]:
# Add new column by subtracting 10 from cube column

df['Subtract10'] = df['Cube_B'] - 10
df

   A  B  C  Square_A  Cube_B  Subtract10
0  5  1  2        25       1          -9
1  1  6  4         1     216         206
2  2  5  9         4     125         115
3  1  6  1         1     216         206
4  7  6  8        49     216         206
5  9  2  6        81       8          -2

In [45]:
# Add 3 columns
df['A+B+C'] = df['A'] + df['B'] + df['C']
df

   A  B  C  Square_A  Cube_B  Subtract10  A+B+C
0  5  1  2        25       1          -9      8
1  1  6  4         1     216         206     11
2  2  5  9         4     125         115     16
3  1  6  1         1     216         206      8
4  7  6  8        49     216         206     21
5  9  2  6        81       8          -2     17

In [46]:
# Take ratio of 2 columns

df['A/B'] = df['A'] / df['B']
df

   A  B  C  Square_A  Cube_B  Subtract10  A+B+C       A/B
0  5  1  2        25       1          -9      8  5.000000
1  1  6  4         1     216         206     11  0.166667
2  2  5  9         4     125         115     16  0.400000
3  1  6  1         1     216         206      8  0.166667
4  7  6  8        49     216         206     21  1.166667
5  9  2  6        81       8          -2     17  4.500000

In [47]:
# Add 100 to a column
df['Add100'] = df['A/B'] + 100
df

   A  B  C  Square_A  Cube_B  Subtract10  A+B+C       A/B      Add100
0  5  1  2        25       1          -9      8  5.000000  105.000000
1  1  6  4         1     216         206     11  0.166667  100.166667
2  2  5  9         4     125         115     16  0.400000  100.400000
3  1  6  1         1     216         206      8  0.166667  100.166667
4  7  6  8        49     216         206     21  1.166667  101.166667
5  9  2  6        81       8          -2     17  4.500000  104.500000

In [48]:
# Add a column with only 'Python' value in it

df['D'] = 'python'
df

   A  B  C  Square_A  Cube_B  Subtract10  A+B+C       A/B      Add100       D
0  5  1  2        25       1          -9      8  5.000000  105.000000  python
1  1  6  4         1     216         206     11  0.166667  100.166667  python
2  2  5  9         4     125         115     16  0.400000  100.400000  python
3  1  6  1         1     216         206      8  0.166667  100.166667  python
4  7  6  8        49     216         206     21  1.166667  101.166667  python
5  9  2  6        81       8          -2     17  4.500000  104.500000  python

In [49]:
# Add a column with same column name as above with 'Machine learning' value in it

df['D'] = 'Machine learning'
df

,A,B,C,Square_A,Cube_B,Subtract10,A+B+C,A/B,Add100,D
0,5,1,2,25,1,-9,8,5.000000,105.000000,Machine learning
1,1,6,4,1,216,206,11,0.166667,100.166667,Machine learning
2,2,5,9,4,125,115,16,0.400000,100.400000,Machine learning
3,1,6,1,1,216,206,8,0.166667,100.166667,Machine learning
4,7,6,8,49,216,206,21,1.166667,101.166667,Machine learning
5,9,2,6,81,8,-2,17,4.500000,104.500000,Machine learning

In [50]:
# Add a column with same column name as above with 'Machine learning' value in it

df['E'] = 'Machine learning'
df

,A,B,C,Square_A,Cube_B,Subtract10,A+B+C,A/B,Add100,D,E
0,5,1,2,25,1,-9,8,5.000000,105.000000,Machine learning,Machine learning
1,1,6,4,1,216,206,11,0.166667,100.166667,Machine learning,Machine learning
2,2,5,9,4,125,115,16,0.400000,100.400000,Machine learning,Machine learning
3,1,6,1,1,216,206,8,0.166667,100.166667,Machine learning,Machine learning
4,7,6,8,49,216,206,21,1.166667,101.166667,Machine learning,Machine learning
5,9,2,6,81,8,-2,17,4.500000,104.500000,Machine learning,Machine learning

In [ ]:
Principal_Amount (P) = [100000,200000,500000,700000,1000000]
Interest_Rate(R) = [12,11,13.5,8,7]
Tenure(T) = [2,4,5,3,7]

Amount = P(1 + R/100) ^T
Compound_Interest = Amount - Principal_Amount

# 7. insert

In [ ]:
>> This function is used to insert column at a particular index in a dataframe.

syntax >> df.insert(index_number,column_name,value,allow_duplicates=False)

In [51]:
array = np.random.randint(1,10,size=(5,5))
array

array([[4, 2, 6, 1, 9],
       [8, 1, 7, 1, 4],
       [9, 4, 3, 2, 8],
       [3, 5, 7, 5, 5],
       [3, 1, 5, 6, 3]])

In [53]:
# create a dataframe having 5 columns and 5 rows
df = pd.DataFrame(array,columns=['A','B','C','D','E'])
df

   A  B  C  D  E
0  4  2  6  1  9
1  8  1  7  1  4
2  9  4  3  2  8
3  3  5  7  5  5
4  3  1  5  6  3

In [54]:
# Add a column having 1000 value
df.insert(2,'Add1000',1000)
df

   A  B  Add1000  C  D  E
0  4  2     1000  6  1  9
1  8  1     1000  7  1  4
2  9  4     1000  3  2  8
3  3  5     1000  7  5  5
4  3  1     1000  5  6  3

In [55]:
# Add a column with python as value
df.insert(4,'Add_python','python')
df

   A  B  Add1000  C Add_python  D  E
0  4  2     1000  6     python  1  9
1  8  1     1000  7     python  1  4
2  9  4     1000  3     python  2  8
3  3  5     1000  7     python  5  5
4  3  1     1000  5     python  6  3

In [56]:
# Add a column with same column name as above and  with python as value
df.insert(5,'Add_python','python')   # allow_duplicates = False
df

ValueError: cannot insert Add_python, already exists

In [59]:
# use allow_duplicates=True
df.insert(5,'Add_python','python',allow_duplicates=True)   # allow_duplicates = True
df

   A  B  Add1000  C Add_python Add_python Add_python Add_python  D  E
0  4  2     1000  6     python     python     python     python  1  9
1  8  1     1000  7     python     python     python     python  1  4
2  9  4     1000  3     python     python     python     python  2  8
3  3  5     1000  7     python     python     python     python  5  5
4  3  1     1000  5     python     python     python     python  6  3

In [60]:
# Add square column
df.insert(1,'Square_A',df['A']**2)
df

,A,Square_A,B,Add1000,C,Add_python,Add_python,Add_python,Add_python,D,E
0,4,16,2,1000,6,python,python,python,python,1,9
1,8,64,1,1000,7,python,python,python,python,1,4
2,9,81,4,1000,3,python,python,python,python,2,8
3,3,9,5,1000,7,python,python,python,python,5,5
4,3,9,1,1000,5,python,python,python,python,6,3

In [61]:
# Add cube column
df.insert(3,'Cube_B',df['B']**3)
df

,A,Square_A,B,Cube_B,Add1000,C,Add_python,Add_python,Add_python,Add_python,D,E
0,4,16,2,8,1000,6,python,python,python,python,1,9
1,8,64,1,1,1000,7,python,python,python,python,1,4
2,9,81,4,64,1000,3,python,python,python,python,2,8
3,3,9,5,125,1000,7,python,python,python,python,5,5
4,3,9,1,1,1000,5,python,python,python,python,6,3

In [63]:
# Add a list as a value
# df.insert(index_number,column_name,value,allow_duplicates=False)

df.insert(6,'F',[10,20,30,40,50])
df

,A,Square_A,B,Cube_B,Add1000,C,F,Add_python,Add_python,Add_python,Add_python,D,E
0,4,16,2,8,1000,6,10,python,python,python,python,1,9
1,8,64,1,1,1000,7,20,python,python,python,python,1,4
2,9,81,4,64,1000,3,30,python,python,python,python,2,8
3,3,9,5,125,1000,7,40,python,python,python,python,5,5
4,3,9,1,1,1000,5,50,python,python,python,python,6,3

In [64]:
# Add a array as a value
df.insert(7,'G',np.array(['python','data',200,300,500]))
df

,A,Square_A,B,Cube_B,Add1000,C,F,G,Add_python,Add_python,Add_python,Add_python,D,E
0,4,16,2,8,1000,6,10,python,python,python,python,python,1,9
1,8,64,1,1,1000,7,20,data,python,python,python,python,1,4
2,9,81,4,64,1000,3,30,200,python,python,python,python,2,8
3,3,9,5,125,1000,7,40,300,python,python,python,python,5,5
4,3,9,1,1,1000,5,50,500,python,python,python,python,6,3

# 8. rename

In [ ]:
>> This function is used to rename the columns or rows in a dataframe

Syntax:
df.rename({oldname1:newname1,oldname2:newname2},axis=0)  >> To rename 1 or 2 row names
df.rename({oldname1:newname1,oldname2:newname2},axis=1)  >> To rename 1 or 2 column names

df.columns = column_names_list   >> To rename all column names
df.index   = row_names_list      >> To rename all row names

In [66]:
# Take above df only
df = pd.read_csv('50_Startups.csv')
df

          RND      ADMIN        MKT       STATE     PROFIT
0   165349.20  136897.80  471784.10    New York  192261.83
1   162597.70  151377.59  443898.53  California  191792.06
2   153441.51  101145.55  407934.54     Florida  191050.39
3   144372.41  118671.85  383199.62    New York  182901.99
4   142107.34   91391.77  366168.42     Florida  166187.94
5   131876.90   99814.71  362861.36    New York  156991.12
6   134615.46  147198.87  127716.82  California  156122.51
7   130298.13  145530.06  323876.68     Florida  155752.60
8   120542.52  148718.95  311613.29    New York  152211.77
9   123334.88  108679.17  304981.62  California  149759.96
10  101913.08  110594.11  229160.95     Florida  146121.95
11  100671.96   91790.61  249744.55  California  144259.40
12   93863.75  127320.38  249839.44     Florida  141585.52
13   91992.39  135495.07  252664.93  California  134307.35
14  119943.24  156547.42  256512.92     Florida  132602.65
15  114523.61  122616.84  261776.23    New York  129917.04
16   78013.11  121597.55  264346.06  California  126992.93
17   94657.16  145077.58  282574.31    New York  125370.37
18   91749.16  114175.79  294919.57     Florida  124266.90
19   86419.70  153514.11       0.00    New York  122776.86
20   76253.86  113867.30  298664.47  California  118474.03
21   78389.47  153773.43  299737.29    New York  111313.02
22   73994.56  122782.75  303319.26     Florida  110352.25
23   67532.53  105751.03  304768.73     Florida  108733.99
24   77044.01   99281.34  140574.81    New York  108552.04
25   64664.71  139553.16  137962.62  California  107404.34
26   75328.87  144135.98  134050.07     Florida  105733.54
27   72107.60  127864.55  353183.81    New York  105008.31
28   66051.52  182645.56  118148.20     Florida  103282.38
29   65605.48  153032.06  107138.38    New York  101004.64
30   61994.48  115641.28   91131.24     Florida   99937.59
31   61136.38  152701.92   88218.23    New York   97483.56
32   63408.86  129219.61   46085.25  California   97427.84
33   55493.95  103057.49  214634.81     Florida   96778.92
34   46426.07  157693.92  210797.67  California   96712.80
35   46014.02   85047.44  205517.64    New York   96479.51
36   28663.76  127056.21  201126.82     Florida   90708.19
37   44069.95   51283.14  197029.42  California   89949.14
38   20229.59   65947.93  185265.10    New York   81229.06
39   38558.51   82982.09  174999.30  California   81005.76
40   28754.33  118546.05  172795.67  California   78239.91
41   27892.92   84710.77  164470.71     Florida   77798.83
42   23640.93   96189.63  148001.11  California   71498.49
43   15505.73  127382.30   35534.17    New York   69758.98
44   22177.74  154806.14   28334.72  California   65200.33
45    1000.23  124153.04    1903.93    New York   64926.08
46    1315.46  115816.21  297114.46     Florida   49490.75
47       0.00  135426.92       0.00  California   42559.73
48     542.05   51743.15       0.00    New York   35673.41
49       0.00  116983.80   45173.06  California   14681.40

In [69]:
# Rename the column names using function
df.rename({'RND':'rnd','ADMIN':'admin'},axis=1,inplace=True)

In [70]:
df

          rnd      admin        MKT       STATE     PROFIT
0   165349.20  136897.80  471784.10    New York  192261.83
1   162597.70  151377.59  443898.53  California  191792.06
2   153441.51  101145.55  407934.54     Florida  191050.39
3   144372.41  118671.85  383199.62    New York  182901.99
4   142107.34   91391.77  366168.42     Florida  166187.94
5   131876.90   99814.71  362861.36    New York  156991.12
6   134615.46  147198.87  127716.82  California  156122.51
7   130298.13  145530.06  323876.68     Florida  155752.60
8   120542.52  148718.95  311613.29    New York  152211.77
9   123334.88  108679.17  304981.62  California  149759.96
10  101913.08  110594.11  229160.95     Florida  146121.95
11  100671.96   91790.61  249744.55  California  144259.40
12   93863.75  127320.38  249839.44     Florida  141585.52
13   91992.39  135495.07  252664.93  California  134307.35
14  119943.24  156547.42  256512.92     Florida  132602.65
15  114523.61  122616.84  261776.23    New York  129917.04
16   78013.11  121597.55  264346.06  California  126992.93
17   94657.16  145077.58  282574.31    New York  125370.37
18   91749.16  114175.79  294919.57     Florida  124266.90
19   86419.70  153514.11       0.00    New York  122776.86
20   76253.86  113867.30  298664.47  California  118474.03
21   78389.47  153773.43  299737.29    New York  111313.02
22   73994.56  122782.75  303319.26     Florida  110352.25
23   67532.53  105751.03  304768.73     Florida  108733.99
24   77044.01   99281.34  140574.81    New York  108552.04
25   64664.71  139553.16  137962.62  California  107404.34
26   75328.87  144135.98  134050.07     Florida  105733.54
27   72107.60  127864.55  353183.81    New York  105008.31
28   66051.52  182645.56  118148.20     Florida  103282.38
29   65605.48  153032.06  107138.38    New York  101004.64
30   61994.48  115641.28   91131.24     Florida   99937.59
31   61136.38  152701.92   88218.23    New York   97483.56
32   63408.86  129219.61   46085.25  California   97427.84
33   55493.95  103057.49  214634.81     Florida   96778.92
34   46426.07  157693.92  210797.67  California   96712.80
35   46014.02   85047.44  205517.64    New York   96479.51
36   28663.76  127056.21  201126.82     Florida   90708.19
37   44069.95   51283.14  197029.42  California   89949.14
38   20229.59   65947.93  185265.10    New York   81229.06
39   38558.51   82982.09  174999.30  California   81005.76
40   28754.33  118546.05  172795.67  California   78239.91
41   27892.92   84710.77  164470.71     Florida   77798.83
42   23640.93   96189.63  148001.11  California   71498.49
43   15505.73  127382.30   35534.17    New York   69758.98
44   22177.74  154806.14   28334.72  California   65200.33
45    1000.23  124153.04    1903.93    New York   64926.08
46    1315.46  115816.21  297114.46     Florida   49490.75
47       0.00  135426.92       0.00  California   42559.73
48     542.05   51743.15       0.00    New York   35673.41
49       0.00  116983.80   45173.06  California   14681.40

In [72]:
# Rename all column names
df.columns = ['rnd', 'admin', 'mkt', 'state', 'profit']
df

          rnd      admin        mkt       state     profit
0   165349.20  136897.80  471784.10    New York  192261.83
1   162597.70  151377.59  443898.53  California  191792.06
2   153441.51  101145.55  407934.54     Florida  191050.39
3   144372.41  118671.85  383199.62    New York  182901.99
4   142107.34   91391.77  366168.42     Florida  166187.94
5   131876.90   99814.71  362861.36    New York  156991.12
6   134615.46  147198.87  127716.82  California  156122.51
7   130298.13  145530.06  323876.68     Florida  155752.60
8   120542.52  148718.95  311613.29    New York  152211.77
9   123334.88  108679.17  304981.62  California  149759.96
10  101913.08  110594.11  229160.95     Florida  146121.95
11  100671.96   91790.61  249744.55  California  144259.40
12   93863.75  127320.38  249839.44     Florida  141585.52
13   91992.39  135495.07  252664.93  California  134307.35
14  119943.24  156547.42  256512.92     Florida  132602.65
15  114523.61  122616.84  261776.23    New York  129917.04
16   78013.11  121597.55  264346.06  California  126992.93
17   94657.16  145077.58  282574.31    New York  125370.37
18   91749.16  114175.79  294919.57     Florida  124266.90
19   86419.70  153514.11       0.00    New York  122776.86
20   76253.86  113867.30  298664.47  California  118474.03
21   78389.47  153773.43  299737.29    New York  111313.02
22   73994.56  122782.75  303319.26     Florida  110352.25
23   67532.53  105751.03  304768.73     Florida  108733.99
24   77044.01   99281.34  140574.81    New York  108552.04
25   64664.71  139553.16  137962.62  California  107404.34
26   75328.87  144135.98  134050.07     Florida  105733.54
27   72107.60  127864.55  353183.81    New York  105008.31
28   66051.52  182645.56  118148.20     Florida  103282.38
29   65605.48  153032.06  107138.38    New York  101004.64
30   61994.48  115641.28   91131.24     Florida   99937.59
31   61136.38  152701.92   88218.23    New York   97483.56
32   63408.86  129219.61   46085.25  California   97427.84
33   55493.95  103057.49  214634.81     Florida   96778.92
34   46426.07  157693.92  210797.67  California   96712.80
35   46014.02   85047.44  205517.64    New York   96479.51
36   28663.76  127056.21  201126.82     Florida   90708.19
37   44069.95   51283.14  197029.42  California   89949.14
38   20229.59   65947.93  185265.10    New York   81229.06
39   38558.51   82982.09  174999.30  California   81005.76
40   28754.33  118546.05  172795.67  California   78239.91
41   27892.92   84710.77  164470.71     Florida   77798.83
42   23640.93   96189.63  148001.11  California   71498.49
43   15505.73  127382.30   35534.17    New York   69758.98
44   22177.74  154806.14   28334.72  California   65200.33
45    1000.23  124153.04    1903.93    New York   64926.08
46    1315.46  115816.21  297114.46     Florida   49490.75
47       0.00  135426.92       0.00  California   42559.73
48     542.05   51743.15       0.00    New York   35673.41
49       0.00  116983.80   45173.06  California   14681.40

In [74]:
# Rename the index using function
df.rename({0:'A',2:'B'},axis=0,inplace=True)
df

          rnd      admin        mkt       state     profit
A   165349.20  136897.80  471784.10    New York  192261.83
1   162597.70  151377.59  443898.53  California  191792.06
B   153441.51  101145.55  407934.54     Florida  191050.39
3   144372.41  118671.85  383199.62    New York  182901.99
4   142107.34   91391.77  366168.42     Florida  166187.94
5   131876.90   99814.71  362861.36    New York  156991.12
6   134615.46  147198.87  127716.82  California  156122.51
7   130298.13  145530.06  323876.68     Florida  155752.60
8   120542.52  148718.95  311613.29    New York  152211.77
9   123334.88  108679.17  304981.62  California  149759.96
10  101913.08  110594.11  229160.95     Florida  146121.95
11  100671.96   91790.61  249744.55  California  144259.40
12   93863.75  127320.38  249839.44     Florida  141585.52
13   91992.39  135495.07  252664.93  California  134307.35
14  119943.24  156547.42  256512.92     Florida  132602.65
15  114523.61  122616.84  261776.23    New York  129917.04
16   78013.11  121597.55  264346.06  California  126992.93
17   94657.16  145077.58  282574.31    New York  125370.37
18   91749.16  114175.79  294919.57     Florida  124266.90
19   86419.70  153514.11       0.00    New York  122776.86
20   76253.86  113867.30  298664.47  California  118474.03
21   78389.47  153773.43  299737.29    New York  111313.02
22   73994.56  122782.75  303319.26     Florida  110352.25
23   67532.53  105751.03  304768.73     Florida  108733.99
24   77044.01   99281.34  140574.81    New York  108552.04
25   64664.71  139553.16  137962.62  California  107404.34
26   75328.87  144135.98  134050.07     Florida  105733.54
27   72107.60  127864.55  353183.81    New York  105008.31
28   66051.52  182645.56  118148.20     Florida  103282.38
29   65605.48  153032.06  107138.38    New York  101004.64
30   61994.48  115641.28   91131.24     Florida   99937.59
31   61136.38  152701.92   88218.23    New York   97483.56
32   63408.86  129219.61   46085.25  California   97427.84
33   55493.95  103057.49  214634.81     Florida   96778.92
34   46426.07  157693.92  210797.67  California   96712.80
35   46014.02   85047.44  205517.64    New York   96479.51
36   28663.76  127056.21  201126.82     Florida   90708.19
37   44069.95   51283.14  197029.42  California   89949.14
38   20229.59   65947.93  185265.10    New York   81229.06
39   38558.51   82982.09  174999.30  California   81005.76
40   28754.33  118546.05  172795.67  California   78239.91
41   27892.92   84710.77  164470.71     Florida   77798.83
42   23640.93   96189.63  148001.11  California   71498.49
43   15505.73  127382.30   35534.17    New York   69758.98
44   22177.74  154806.14   28334.72  California   65200.33
45    1000.23  124153.04    1903.93    New York   64926.08
46    1315.46  115816.21  297114.46     Florida   49490.75
47       0.00  135426.92       0.00  California   42559.73
48     542.05   51743.15       0.00    New York   35673.41
49       0.00  116983.80   45173.06  California   14681.40

In [75]:
df.index

Index(['A',   1, 'B',   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,  27,
        28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,  41,
        42,  43,  44,  45,  46,  47,  48,  49],
      dtype='object')

In [76]:
# Rename all the index names
df.index = ['a',   'b', 'c',   'd',   'e',   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,  27,
        28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,  41,
        42,  43,  44,  45,  46,  'p',  'q',  'q']
df

          rnd      admin        mkt       state     profit
a   165349.20  136897.80  471784.10    New York  192261.83
b   162597.70  151377.59  443898.53  California  191792.06
c   153441.51  101145.55  407934.54     Florida  191050.39
d   144372.41  118671.85  383199.62    New York  182901.99
e   142107.34   91391.77  366168.42     Florida  166187.94
5   131876.90   99814.71  362861.36    New York  156991.12
6   134615.46  147198.87  127716.82  California  156122.51
7   130298.13  145530.06  323876.68     Florida  155752.60
8   120542.52  148718.95  311613.29    New York  152211.77
9   123334.88  108679.17  304981.62  California  149759.96
10  101913.08  110594.11  229160.95     Florida  146121.95
11  100671.96   91790.61  249744.55  California  144259.40
12   93863.75  127320.38  249839.44     Florida  141585.52
13   91992.39  135495.07  252664.93  California  134307.35
14  119943.24  156547.42  256512.92     Florida  132602.65
15  114523.61  122616.84  261776.23    New York  129917.04
16   78013.11  121597.55  264346.06  California  126992.93
17   94657.16  145077.58  282574.31    New York  125370.37
18   91749.16  114175.79  294919.57     Florida  124266.90
19   86419.70  153514.11       0.00    New York  122776.86
20   76253.86  113867.30  298664.47  California  118474.03
21   78389.47  153773.43  299737.29    New York  111313.02
22   73994.56  122782.75  303319.26     Florida  110352.25
23   67532.53  105751.03  304768.73     Florida  108733.99
24   77044.01   99281.34  140574.81    New York  108552.04
25   64664.71  139553.16  137962.62  California  107404.34
26   75328.87  144135.98  134050.07     Florida  105733.54
27   72107.60  127864.55  353183.81    New York  105008.31
28   66051.52  182645.56  118148.20     Florida  103282.38
29   65605.48  153032.06  107138.38    New York  101004.64
30   61994.48  115641.28   91131.24     Florida   99937.59
31   61136.38  152701.92   88218.23    New York   97483.56
32   63408.86  129219.61   46085.25  California   97427.84
33   55493.95  103057.49  214634.81     Florida   96778.92
34   46426.07  157693.92  210797.67  California   96712.80
35   46014.02   85047.44  205517.64    New York   96479.51
36   28663.76  127056.21  201126.82     Florida   90708.19
37   44069.95   51283.14  197029.42  California   89949.14
38   20229.59   65947.93  185265.10    New York   81229.06
39   38558.51   82982.09  174999.30  California   81005.76
40   28754.33  118546.05  172795.67  California   78239.91
41   27892.92   84710.77  164470.71     Florida   77798.83
42   23640.93   96189.63  148001.11  California   71498.49
43   15505.73  127382.30   35534.17    New York   69758.98
44   22177.74  154806.14   28334.72  California   65200.33
45    1000.23  124153.04    1903.93    New York   64926.08
46    1315.46  115816.21  297114.46     Florida   49490.75
p        0.00  135426.92       0.00  California   42559.73
q      542.05   51743.15       0.00    New York   35673.41
q        0.00  116983.80   45173.06  California   14681.40

# 9. Removing duplicates

In [77]:
# read the 50_Startups_with duplicates.csv

df1 = pd.read_csv('50_Startups_with duplicates.csv')
df1

          RND      ADMIN        MKT       STATE     PROFIT
0   165349.20  136897.80  471784.10    New York  192261.83
1   162597.70  151377.59  443898.53  California  191792.06
2   153441.51  101145.55  407934.54     Florida  191050.39
3   144372.41  118671.85  383199.62    New York  182901.99
4   142107.34   91391.77  366168.42     Florida  166187.94
5   131876.90   99814.71  362861.36    New York  156991.12
6   134615.46  147198.87  127716.82  California  156122.51
7   130298.13  145530.06  323876.68     Florida  155752.60
8   120542.52  148718.95  311613.29    New York  152211.77
9   123334.88  108679.17  304981.62  California  149759.96
10  101913.08  110594.11  229160.95     Florida  146121.95
11  100671.96   91790.61  249744.55  California  144259.40
12   93863.75  127320.38  249839.44     Florida  141585.52
13   91992.39  135495.07  252664.93  California  134307.35
14  119943.24  156547.42  256512.92     Florida  132602.65
15  114523.61  122616.84  261776.23    New York  129917.04
16   78013.11  121597.55  264346.06  California  126992.93
17   94657.16  145077.58  282574.31    New York  125370.37
18   91749.16  114175.79  294919.57     Florida  124266.90
19   86419.70  153514.11       0.00    New York  122776.86
20   76253.86  113867.30  298664.47  California  118474.03
21   78389.47  153773.43  299737.29    New York  111313.02
22   73994.56  122782.75  303319.26     Florida  110352.25
23   67532.53  105751.03  304768.73     Florida  108733.99
24   77044.01   99281.34  140574.81    New York  108552.04
25   64664.71  139553.16  137962.62  California  107404.34
26   75328.87  144135.98  134050.07     Florida  105733.54
27   72107.60  127864.55  353183.81    New York  105008.31
28   66051.52  182645.56  118148.20     Florida  103282.38
29   65605.48  153032.06  107138.38    New York  101004.64
30   61994.48  115641.28   91131.24     Florida   99937.59
31   61136.38  152701.92   88218.23    New York   97483.56
32   63408.86  129219.61   46085.25  California   97427.84
33   55493.95  103057.49  214634.81     Florida   96778.92
34   46426.07  157693.92  210797.67  California   96712.80
35   46014.02   85047.44  205517.64    New York   96479.51
36   28663.76  127056.21  201126.82     Florida   90708.19
37   44069.95   51283.14  197029.42  California   89949.14
38   20229.59   65947.93  185265.10    New York   81229.06
39   38558.51   82982.09  174999.30  California   81005.76
40   28754.33  118546.05  172795.67  California   78239.91
41   27892.92   84710.77  164470.71     Florida   77798.83
42   23640.93   96189.63  148001.11  California   71498.49
43   15505.73  127382.30   35534.17    New York   69758.98
44   22177.74  154806.14   28334.72  California   65200.33
45    1000.23  124153.04    1903.93    New York   64926.08
46    1315.46  115816.21  297114.46     Florida   49490.75
47       0.00  135426.92       0.00  California   42559.73
48     542.05   51743.15       0.00    New York   35673.41
49       0.00  116983.80   45173.06  California   14681.40
50       0.00  116983.80   45173.06  California   14681.40

## 9.1  duplicated()   >>  To find Duplicates

The duplicated() function returns a Boolean values for each row

Returns True for every row that is a duplicate, othwerwise False

In [78]:
# Find the duplicates rows in the above data

df1.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50     True
dtype: bool

## 9.2 drop_duplicates() >> To remove duplicates

In [82]:
# remove the duplicate rows from the above data

df1.drop_duplicates(inplace=True)

In [83]:
df1

          RND      ADMIN        MKT       STATE     PROFIT
0   165349.20  136897.80  471784.10    New York  192261.83
1   162597.70  151377.59  443898.53  California  191792.06
2   153441.51  101145.55  407934.54     Florida  191050.39
3   144372.41  118671.85  383199.62    New York  182901.99
4   142107.34   91391.77  366168.42     Florida  166187.94
5   131876.90   99814.71  362861.36    New York  156991.12
6   134615.46  147198.87  127716.82  California  156122.51
7   130298.13  145530.06  323876.68     Florida  155752.60
8   120542.52  148718.95  311613.29    New York  152211.77
9   123334.88  108679.17  304981.62  California  149759.96
10  101913.08  110594.11  229160.95     Florida  146121.95
11  100671.96   91790.61  249744.55  California  144259.40
12   93863.75  127320.38  249839.44     Florida  141585.52
13   91992.39  135495.07  252664.93  California  134307.35
14  119943.24  156547.42  256512.92     Florida  132602.65
15  114523.61  122616.84  261776.23    New York  129917.04
16   78013.11  121597.55  264346.06  California  126992.93
17   94657.16  145077.58  282574.31    New York  125370.37
18   91749.16  114175.79  294919.57     Florida  124266.90
19   86419.70  153514.11       0.00    New York  122776.86
20   76253.86  113867.30  298664.47  California  118474.03
21   78389.47  153773.43  299737.29    New York  111313.02
22   73994.56  122782.75  303319.26     Florida  110352.25
23   67532.53  105751.03  304768.73     Florida  108733.99
24   77044.01   99281.34  140574.81    New York  108552.04
25   64664.71  139553.16  137962.62  California  107404.34
26   75328.87  144135.98  134050.07     Florida  105733.54
27   72107.60  127864.55  353183.81    New York  105008.31
28   66051.52  182645.56  118148.20     Florida  103282.38
29   65605.48  153032.06  107138.38    New York  101004.64
30   61994.48  115641.28   91131.24     Florida   99937.59
31   61136.38  152701.92   88218.23    New York   97483.56
32   63408.86  129219.61   46085.25  California   97427.84
33   55493.95  103057.49  214634.81     Florida   96778.92
34   46426.07  157693.92  210797.67  California   96712.80
35   46014.02   85047.44  205517.64    New York   96479.51
36   28663.76  127056.21  201126.82     Florida   90708.19
37   44069.95   51283.14  197029.42  California   89949.14
38   20229.59   65947.93  185265.10    New York   81229.06
39   38558.51   82982.09  174999.30  California   81005.76
40   28754.33  118546.05  172795.67  California   78239.91
41   27892.92   84710.77  164470.71     Florida   77798.83
42   23640.93   96189.63  148001.11  California   71498.49
43   15505.73  127382.30   35534.17    New York   69758.98
44   22177.74  154806.14   28334.72  California   65200.33
45    1000.23  124153.04    1903.93    New York   64926.08
46    1315.46  115816.21  297114.46     Florida   49490.75
47       0.00  135426.92       0.00  California   42559.73
48     542.05   51743.15       0.00    New York   35673.41
49       0.00  116983.80   45173.06  California   14681.40

# 10.Transpose --> Converts rows into columns

In [84]:
# Take transpose of 50_startups.csv

df = pd.read_csv('50_Startups.csv')
df

          RND      ADMIN        MKT       STATE     PROFIT
0   165349.20  136897.80  471784.10    New York  192261.83
1   162597.70  151377.59  443898.53  California  191792.06
2   153441.51  101145.55  407934.54     Florida  191050.39
3   144372.41  118671.85  383199.62    New York  182901.99
4   142107.34   91391.77  366168.42     Florida  166187.94
5   131876.90   99814.71  362861.36    New York  156991.12
6   134615.46  147198.87  127716.82  California  156122.51
7   130298.13  145530.06  323876.68     Florida  155752.60
8   120542.52  148718.95  311613.29    New York  152211.77
9   123334.88  108679.17  304981.62  California  149759.96
10  101913.08  110594.11  229160.95     Florida  146121.95
11  100671.96   91790.61  249744.55  California  144259.40
12   93863.75  127320.38  249839.44     Florida  141585.52
13   91992.39  135495.07  252664.93  California  134307.35
14  119943.24  156547.42  256512.92     Florida  132602.65
15  114523.61  122616.84  261776.23    New York  129917.04
16   78013.11  121597.55  264346.06  California  126992.93
17   94657.16  145077.58  282574.31    New York  125370.37
18   91749.16  114175.79  294919.57     Florida  124266.90
19   86419.70  153514.11       0.00    New York  122776.86
20   76253.86  113867.30  298664.47  California  118474.03
21   78389.47  153773.43  299737.29    New York  111313.02
22   73994.56  122782.75  303319.26     Florida  110352.25
23   67532.53  105751.03  304768.73     Florida  108733.99
24   77044.01   99281.34  140574.81    New York  108552.04
25   64664.71  139553.16  137962.62  California  107404.34
26   75328.87  144135.98  134050.07     Florida  105733.54
27   72107.60  127864.55  353183.81    New York  105008.31
28   66051.52  182645.56  118148.20     Florida  103282.38
29   65605.48  153032.06  107138.38    New York  101004.64
30   61994.48  115641.28   91131.24     Florida   99937.59
31   61136.38  152701.92   88218.23    New York   97483.56
32   63408.86  129219.61   46085.25  California   97427.84
33   55493.95  103057.49  214634.81     Florida   96778.92
34   46426.07  157693.92  210797.67  California   96712.80
35   46014.02   85047.44  205517.64    New York   96479.51
36   28663.76  127056.21  201126.82     Florida   90708.19
37   44069.95   51283.14  197029.42  California   89949.14
38   20229.59   65947.93  185265.10    New York   81229.06
39   38558.51   82982.09  174999.30  California   81005.76
40   28754.33  118546.05  172795.67  California   78239.91
41   27892.92   84710.77  164470.71     Florida   77798.83
42   23640.93   96189.63  148001.11  California   71498.49
43   15505.73  127382.30   35534.17    New York   69758.98
44   22177.74  154806.14   28334.72  California   65200.33
45    1000.23  124153.04    1903.93    New York   64926.08
46    1315.46  115816.21  297114.46     Florida   49490.75
47       0.00  135426.92       0.00  California   42559.73
48     542.05   51743.15       0.00    New York   35673.41
49       0.00  116983.80   45173.06  California   14681.40

In [85]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
RND,165349.2,162597.7,153441.51,144372.41,142107.34,131876.9,134615.46,130298.13,120542.52,123334.88,...,28754.33,27892.92,23640.93,15505.73,22177.74,1000.23,1315.46,0.0,542.05,0.0
ADMIN,136897.8,151377.59,101145.55,118671.85,91391.77,99814.71,147198.87,145530.06,148718.95,108679.17,...,118546.05,84710.77,96189.63,127382.3,154806.14,124153.04,115816.21,135426.92,51743.15,116983.8
MKT,471784.1,443898.53,407934.54,383199.62,366168.42,362861.36,127716.82,323876.68,311613.29,304981.62,...,172795.67,164470.71,148001.11,35534.17,28334.72,1903.93,297114.46,0.0,0.0,45173.06
STATE,New York,California,Florida,New York,Florida,New York,California,Florida,New York,California,...,California,Florida,California,New York,California,New York,Florida,California,New York,California
PROFIT,192261.83,191792.06,191050.39,182901.99,166187.94,156991.12,156122.51,155752.6,152211.77,149759.96,...,78239.91,77798.83,71498.49,69758.98,65200.33,64926.08,49490.75,42559.73,35673.41,14681.4

In [ ]:
# Assignment

# cars93.csv
1.Find value counts of Type column and convert series to dict
2.Find value counts of Origin column and convert series to dict
3.Find unique values in type column
4. Find unique values in origin column
5. Find number of unique values in type column
6. Find number of unique values in origin column


# Titanic.csv
1.Replace the values of the Gender column with 1 and 0
2.Replace the values of the Embarked column with 0,1,2
3.Change the datatype of column Pclass to float
4.Change the datatype of SibSp column to object
5.Again change the datatype of SibSp column to int
6.Change the datatype of Name column to int