In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read the 50_Startups.csv
df = pd.read_csv('50_Startups.csv')
df

          RND      ADMIN        MKT       STATE     PROFIT
0   165349.20  136897.80  471784.10    New York  192261.83
1   162597.70  151377.59  443898.53  California  191792.06
2   153441.51  101145.55  407934.54     Florida  191050.39
3   144372.41  118671.85  383199.62    New York  182901.99
4   142107.34   91391.77  366168.42     Florida  166187.94
5   131876.90   99814.71  362861.36    New York  156991.12
6   134615.46  147198.87  127716.82  California  156122.51
7   130298.13  145530.06  323876.68     Florida  155752.60
8   120542.52  148718.95  311613.29    New York  152211.77
9   123334.88  108679.17  304981.62  California  149759.96
10  101913.08  110594.11  229160.95     Florida  146121.95
11  100671.96   91790.61  249744.55  California  144259.40
12   93863.75  127320.38  249839.44     Florida  141585.52
13   91992.39  135495.07  252664.93  California  134307.35
14  119943.24  156547.42  256512.92     Florida  132602.65
15  114523.61  122616.84  261776.23    New York  129917.04
16   78013.11  121597.55  264346.06  California  126992.93
17   94657.16  145077.58  282574.31    New York  125370.37
18   91749.16  114175.79  294919.57     Florida  124266.90
19   86419.70  153514.11       0.00    New York  122776.86
20   76253.86  113867.30  298664.47  California  118474.03
21   78389.47  153773.43  299737.29    New York  111313.02
22   73994.56  122782.75  303319.26     Florida  110352.25
23   67532.53  105751.03  304768.73     Florida  108733.99
24   77044.01   99281.34  140574.81    New York  108552.04
25   64664.71  139553.16  137962.62  California  107404.34
26   75328.87  144135.98  134050.07     Florida  105733.54
27   72107.60  127864.55  353183.81    New York  105008.31
28   66051.52  182645.56  118148.20     Florida  103282.38
29   65605.48  153032.06  107138.38    New York  101004.64
30   61994.48  115641.28   91131.24     Florida   99937.59
31   61136.38  152701.92   88218.23    New York   97483.56
32   63408.86  129219.61   46085.25  California   97427.84
33   55493.95  103057.49  214634.81     Florida   96778.92
34   46426.07  157693.92  210797.67  California   96712.80
35   46014.02   85047.44  205517.64    New York   96479.51
36   28663.76  127056.21  201126.82     Florida   90708.19
37   44069.95   51283.14  197029.42  California   89949.14
38   20229.59   65947.93  185265.10    New York   81229.06
39   38558.51   82982.09  174999.30  California   81005.76
40   28754.33  118546.05  172795.67  California   78239.91
41   27892.92   84710.77  164470.71     Florida   77798.83
42   23640.93   96189.63  148001.11  California   71498.49
43   15505.73  127382.30   35534.17    New York   69758.98
44   22177.74  154806.14   28334.72  California   65200.33
45    1000.23  124153.04    1903.93    New York   64926.08
46    1315.46  115816.21  297114.46     Florida   49490.75
47       0.00  135426.92       0.00  California   42559.73
48     542.05   51743.15       0.00    New York   35673.41
49       0.00  116983.80   45173.06  California   14681.40

# 1.Sorting

## sort_values function

In [ ]:
>> This function is used to sort the dataframe based on a column values
    ascending(lower-higher)(a-z)
    descending(higher-lower)(z-a)

syntax>> df.sort_values(column_name,ascending=True)  # Sort the dataframe in ascending order
         df.sort_values(column_list,ascending=True)
    
         df.sort_values(column_name,ascending=False) # Sort the dataframe in descending order

ascending = True  >> ascending order (default)
ascending = False >> descending order

In [9]:
# Sort the df based on RND column in ascending order
df.sort_values('RND',inplace=True)     # ascending = True

In [10]:
df

          RND      ADMIN        MKT       STATE     PROFIT
49       0.00  116983.80   45173.06  California   14681.40
47       0.00  135426.92       0.00  California   42559.73
48     542.05   51743.15       0.00    New York   35673.41
45    1000.23  124153.04    1903.93    New York   64926.08
46    1315.46  115816.21  297114.46     Florida   49490.75
43   15505.73  127382.30   35534.17    New York   69758.98
38   20229.59   65947.93  185265.10    New York   81229.06
44   22177.74  154806.14   28334.72  California   65200.33
42   23640.93   96189.63  148001.11  California   71498.49
41   27892.92   84710.77  164470.71     Florida   77798.83
36   28663.76  127056.21  201126.82     Florida   90708.19
40   28754.33  118546.05  172795.67  California   78239.91
39   38558.51   82982.09  174999.30  California   81005.76
37   44069.95   51283.14  197029.42  California   89949.14
35   46014.02   85047.44  205517.64    New York   96479.51
34   46426.07  157693.92  210797.67  California   96712.80
33   55493.95  103057.49  214634.81     Florida   96778.92
31   61136.38  152701.92   88218.23    New York   97483.56
30   61994.48  115641.28   91131.24     Florida   99937.59
32   63408.86  129219.61   46085.25  California   97427.84
25   64664.71  139553.16  137962.62  California  107404.34
29   65605.48  153032.06  107138.38    New York  101004.64
28   66051.52  182645.56  118148.20     Florida  103282.38
23   67532.53  105751.03  304768.73     Florida  108733.99
27   72107.60  127864.55  353183.81    New York  105008.31
22   73994.56  122782.75  303319.26     Florida  110352.25
26   75328.87  144135.98  134050.07     Florida  105733.54
20   76253.86  113867.30  298664.47  California  118474.03
24   77044.01   99281.34  140574.81    New York  108552.04
16   78013.11  121597.55  264346.06  California  126992.93
21   78389.47  153773.43  299737.29    New York  111313.02
19   86419.70  153514.11       0.00    New York  122776.86
18   91749.16  114175.79  294919.57     Florida  124266.90
13   91992.39  135495.07  252664.93  California  134307.35
12   93863.75  127320.38  249839.44     Florida  141585.52
17   94657.16  145077.58  282574.31    New York  125370.37
11  100671.96   91790.61  249744.55  California  144259.40
10  101913.08  110594.11  229160.95     Florida  146121.95
15  114523.61  122616.84  261776.23    New York  129917.04
14  119943.24  156547.42  256512.92     Florida  132602.65
8   120542.52  148718.95  311613.29    New York  152211.77
9   123334.88  108679.17  304981.62  California  149759.96
7   130298.13  145530.06  323876.68     Florida  155752.60
5   131876.90   99814.71  362861.36    New York  156991.12
6   134615.46  147198.87  127716.82  California  156122.51
4   142107.34   91391.77  366168.42     Florida  166187.94
3   144372.41  118671.85  383199.62    New York  182901.99
2   153441.51  101145.55  407934.54     Florida  191050.39
1   162597.70  151377.59  443898.53  California  191792.06
0   165349.20  136897.80  471784.10    New York  192261.83

In [13]:
# Reset the index
df.index = range(0,50)
df

          RND      ADMIN        MKT       STATE     PROFIT
0        0.00  116983.80   45173.06  California   14681.40
1        0.00  135426.92       0.00  California   42559.73
2      542.05   51743.15       0.00    New York   35673.41
3     1000.23  124153.04    1903.93    New York   64926.08
4     1315.46  115816.21  297114.46     Florida   49490.75
5    15505.73  127382.30   35534.17    New York   69758.98
6    20229.59   65947.93  185265.10    New York   81229.06
7    22177.74  154806.14   28334.72  California   65200.33
8    23640.93   96189.63  148001.11  California   71498.49
9    27892.92   84710.77  164470.71     Florida   77798.83
10   28663.76  127056.21  201126.82     Florida   90708.19
11   28754.33  118546.05  172795.67  California   78239.91
12   38558.51   82982.09  174999.30  California   81005.76
13   44069.95   51283.14  197029.42  California   89949.14
14   46014.02   85047.44  205517.64    New York   96479.51
15   46426.07  157693.92  210797.67  California   96712.80
16   55493.95  103057.49  214634.81     Florida   96778.92
17   61136.38  152701.92   88218.23    New York   97483.56
18   61994.48  115641.28   91131.24     Florida   99937.59
19   63408.86  129219.61   46085.25  California   97427.84
20   64664.71  139553.16  137962.62  California  107404.34
21   65605.48  153032.06  107138.38    New York  101004.64
22   66051.52  182645.56  118148.20     Florida  103282.38
23   67532.53  105751.03  304768.73     Florida  108733.99
24   72107.60  127864.55  353183.81    New York  105008.31
25   73994.56  122782.75  303319.26     Florida  110352.25
26   75328.87  144135.98  134050.07     Florida  105733.54
27   76253.86  113867.30  298664.47  California  118474.03
28   77044.01   99281.34  140574.81    New York  108552.04
29   78013.11  121597.55  264346.06  California  126992.93
30   78389.47  153773.43  299737.29    New York  111313.02
31   86419.70  153514.11       0.00    New York  122776.86
32   91749.16  114175.79  294919.57     Florida  124266.90
33   91992.39  135495.07  252664.93  California  134307.35
34   93863.75  127320.38  249839.44     Florida  141585.52
35   94657.16  145077.58  282574.31    New York  125370.37
36  100671.96   91790.61  249744.55  California  144259.40
37  101913.08  110594.11  229160.95     Florida  146121.95
38  114523.61  122616.84  261776.23    New York  129917.04
39  119943.24  156547.42  256512.92     Florida  132602.65
40  120542.52  148718.95  311613.29    New York  152211.77
41  123334.88  108679.17  304981.62  California  149759.96
42  130298.13  145530.06  323876.68     Florida  155752.60
43  131876.90   99814.71  362861.36    New York  156991.12
44  134615.46  147198.87  127716.82  California  156122.51
45  142107.34   91391.77  366168.42     Florida  166187.94
46  144372.41  118671.85  383199.62    New York  182901.99
47  153441.51  101145.55  407934.54     Florida  191050.39
48  162597.70  151377.59  443898.53  California  191792.06
49  165349.20  136897.80  471784.10    New York  192261.83

In [4]:
# Sort the df based on RND column in descending order
df.sort_values('RND',ascending=False)     # ascending = True

          RND      ADMIN        MKT       STATE     PROFIT
0   165349.20  136897.80  471784.10    New York  192261.83
1   162597.70  151377.59  443898.53  California  191792.06
2   153441.51  101145.55  407934.54     Florida  191050.39
3   144372.41  118671.85  383199.62    New York  182901.99
4   142107.34   91391.77  366168.42     Florida  166187.94
6   134615.46  147198.87  127716.82  California  156122.51
5   131876.90   99814.71  362861.36    New York  156991.12
7   130298.13  145530.06  323876.68     Florida  155752.60
9   123334.88  108679.17  304981.62  California  149759.96
8   120542.52  148718.95  311613.29    New York  152211.77
14  119943.24  156547.42  256512.92     Florida  132602.65
15  114523.61  122616.84  261776.23    New York  129917.04
10  101913.08  110594.11  229160.95     Florida  146121.95
11  100671.96   91790.61  249744.55  California  144259.40
17   94657.16  145077.58  282574.31    New York  125370.37
12   93863.75  127320.38  249839.44     Florida  141585.52
13   91992.39  135495.07  252664.93  California  134307.35
18   91749.16  114175.79  294919.57     Florida  124266.90
19   86419.70  153514.11       0.00    New York  122776.86
21   78389.47  153773.43  299737.29    New York  111313.02
16   78013.11  121597.55  264346.06  California  126992.93
24   77044.01   99281.34  140574.81    New York  108552.04
20   76253.86  113867.30  298664.47  California  118474.03
26   75328.87  144135.98  134050.07     Florida  105733.54
22   73994.56  122782.75  303319.26     Florida  110352.25
27   72107.60  127864.55  353183.81    New York  105008.31
23   67532.53  105751.03  304768.73     Florida  108733.99
28   66051.52  182645.56  118148.20     Florida  103282.38
29   65605.48  153032.06  107138.38    New York  101004.64
25   64664.71  139553.16  137962.62  California  107404.34
32   63408.86  129219.61   46085.25  California   97427.84
30   61994.48  115641.28   91131.24     Florida   99937.59
31   61136.38  152701.92   88218.23    New York   97483.56
33   55493.95  103057.49  214634.81     Florida   96778.92
34   46426.07  157693.92  210797.67  California   96712.80
35   46014.02   85047.44  205517.64    New York   96479.51
37   44069.95   51283.14  197029.42  California   89949.14
39   38558.51   82982.09  174999.30  California   81005.76
40   28754.33  118546.05  172795.67  California   78239.91
36   28663.76  127056.21  201126.82     Florida   90708.19
41   27892.92   84710.77  164470.71     Florida   77798.83
42   23640.93   96189.63  148001.11  California   71498.49
44   22177.74  154806.14   28334.72  California   65200.33
38   20229.59   65947.93  185265.10    New York   81229.06
43   15505.73  127382.30   35534.17    New York   69758.98
46    1315.46  115816.21  297114.46     Florida   49490.75
45    1000.23  124153.04    1903.93    New York   64926.08
48     542.05   51743.15       0.00    New York   35673.41
47       0.00  135426.92       0.00  California   42559.73
49       0.00  116983.80   45173.06  California   14681.40

In [17]:
# Sort the df based on MKT column in descending order
df.sort_values('MKT',ascending=False)

          RND      ADMIN        MKT       STATE     PROFIT
49  165349.20  136897.80  471784.10    New York  192261.83
48  162597.70  151377.59  443898.53  California  191792.06
47  153441.51  101145.55  407934.54     Florida  191050.39
46  144372.41  118671.85  383199.62    New York  182901.99
45  142107.34   91391.77  366168.42     Florida  166187.94
43  131876.90   99814.71  362861.36    New York  156991.12
24   72107.60  127864.55  353183.81    New York  105008.31
42  130298.13  145530.06  323876.68     Florida  155752.60
40  120542.52  148718.95  311613.29    New York  152211.77
41  123334.88  108679.17  304981.62  California  149759.96
23   67532.53  105751.03  304768.73     Florida  108733.99
25   73994.56  122782.75  303319.26     Florida  110352.25
30   78389.47  153773.43  299737.29    New York  111313.02
27   76253.86  113867.30  298664.47  California  118474.03
4     1315.46  115816.21  297114.46     Florida   49490.75
32   91749.16  114175.79  294919.57     Florida  124266.90
35   94657.16  145077.58  282574.31    New York  125370.37
29   78013.11  121597.55  264346.06  California  126992.93
38  114523.61  122616.84  261776.23    New York  129917.04
39  119943.24  156547.42  256512.92     Florida  132602.65
33   91992.39  135495.07  252664.93  California  134307.35
34   93863.75  127320.38  249839.44     Florida  141585.52
36  100671.96   91790.61  249744.55  California  144259.40
37  101913.08  110594.11  229160.95     Florida  146121.95
16   55493.95  103057.49  214634.81     Florida   96778.92
15   46426.07  157693.92  210797.67  California   96712.80
14   46014.02   85047.44  205517.64    New York   96479.51
10   28663.76  127056.21  201126.82     Florida   90708.19
13   44069.95   51283.14  197029.42  California   89949.14
6    20229.59   65947.93  185265.10    New York   81229.06
12   38558.51   82982.09  174999.30  California   81005.76
11   28754.33  118546.05  172795.67  California   78239.91
9    27892.92   84710.77  164470.71     Florida   77798.83
8    23640.93   96189.63  148001.11  California   71498.49
28   77044.01   99281.34  140574.81    New York  108552.04
20   64664.71  139553.16  137962.62  California  107404.34
26   75328.87  144135.98  134050.07     Florida  105733.54
44  134615.46  147198.87  127716.82  California  156122.51
22   66051.52  182645.56  118148.20     Florida  103282.38
21   65605.48  153032.06  107138.38    New York  101004.64
18   61994.48  115641.28   91131.24     Florida   99937.59
17   61136.38  152701.92   88218.23    New York   97483.56
19   63408.86  129219.61   46085.25  California   97427.84
0        0.00  116983.80   45173.06  California   14681.40
5    15505.73  127382.30   35534.17    New York   69758.98
7    22177.74  154806.14   28334.72  California   65200.33
3     1000.23  124153.04    1903.93    New York   64926.08
1        0.00  135426.92       0.00  California   42559.73
2      542.05   51743.15       0.00    New York   35673.41
31   86419.70  153514.11       0.00    New York  122776.86

In [20]:
# Sort the df based on STATE,PROFIT column in ascending order
df.sort_values(['STATE','PROFIT'])

          RND      ADMIN        MKT       STATE     PROFIT
0        0.00  116983.80   45173.06  California   14681.40
1        0.00  135426.92       0.00  California   42559.73
7    22177.74  154806.14   28334.72  California   65200.33
8    23640.93   96189.63  148001.11  California   71498.49
11   28754.33  118546.05  172795.67  California   78239.91
12   38558.51   82982.09  174999.30  California   81005.76
13   44069.95   51283.14  197029.42  California   89949.14
15   46426.07  157693.92  210797.67  California   96712.80
19   63408.86  129219.61   46085.25  California   97427.84
20   64664.71  139553.16  137962.62  California  107404.34
27   76253.86  113867.30  298664.47  California  118474.03
29   78013.11  121597.55  264346.06  California  126992.93
33   91992.39  135495.07  252664.93  California  134307.35
36  100671.96   91790.61  249744.55  California  144259.40
41  123334.88  108679.17  304981.62  California  149759.96
44  134615.46  147198.87  127716.82  California  156122.51
48  162597.70  151377.59  443898.53  California  191792.06
4     1315.46  115816.21  297114.46     Florida   49490.75
9    27892.92   84710.77  164470.71     Florida   77798.83
10   28663.76  127056.21  201126.82     Florida   90708.19
16   55493.95  103057.49  214634.81     Florida   96778.92
18   61994.48  115641.28   91131.24     Florida   99937.59
22   66051.52  182645.56  118148.20     Florida  103282.38
26   75328.87  144135.98  134050.07     Florida  105733.54
23   67532.53  105751.03  304768.73     Florida  108733.99
25   73994.56  122782.75  303319.26     Florida  110352.25
32   91749.16  114175.79  294919.57     Florida  124266.90
39  119943.24  156547.42  256512.92     Florida  132602.65
34   93863.75  127320.38  249839.44     Florida  141585.52
37  101913.08  110594.11  229160.95     Florida  146121.95
42  130298.13  145530.06  323876.68     Florida  155752.60
45  142107.34   91391.77  366168.42     Florida  166187.94
47  153441.51  101145.55  407934.54     Florida  191050.39
2      542.05   51743.15       0.00    New York   35673.41
3     1000.23  124153.04    1903.93    New York   64926.08
5    15505.73  127382.30   35534.17    New York   69758.98
6    20229.59   65947.93  185265.10    New York   81229.06
14   46014.02   85047.44  205517.64    New York   96479.51
17   61136.38  152701.92   88218.23    New York   97483.56
21   65605.48  153032.06  107138.38    New York  101004.64
24   72107.60  127864.55  353183.81    New York  105008.31
28   77044.01   99281.34  140574.81    New York  108552.04
30   78389.47  153773.43  299737.29    New York  111313.02
31   86419.70  153514.11       0.00    New York  122776.86
35   94657.16  145077.58  282574.31    New York  125370.37
38  114523.61  122616.84  261776.23    New York  129917.04
40  120542.52  148718.95  311613.29    New York  152211.77
43  131876.90   99814.71  362861.36    New York  156991.12
46  144372.41  118671.85  383199.62    New York  182901.99
49  165349.20  136897.80  471784.10    New York  192261.83

In [22]:
# Sort the df based on STATE,PROFIT column in descending order
df.sort_values(['STATE','PROFIT'],ascending=False)

          RND      ADMIN        MKT       STATE     PROFIT
49  165349.20  136897.80  471784.10    New York  192261.83
46  144372.41  118671.85  383199.62    New York  182901.99
43  131876.90   99814.71  362861.36    New York  156991.12
40  120542.52  148718.95  311613.29    New York  152211.77
38  114523.61  122616.84  261776.23    New York  129917.04
35   94657.16  145077.58  282574.31    New York  125370.37
31   86419.70  153514.11       0.00    New York  122776.86
30   78389.47  153773.43  299737.29    New York  111313.02
28   77044.01   99281.34  140574.81    New York  108552.04
24   72107.60  127864.55  353183.81    New York  105008.31
21   65605.48  153032.06  107138.38    New York  101004.64
17   61136.38  152701.92   88218.23    New York   97483.56
14   46014.02   85047.44  205517.64    New York   96479.51
6    20229.59   65947.93  185265.10    New York   81229.06
5    15505.73  127382.30   35534.17    New York   69758.98
3     1000.23  124153.04    1903.93    New York   64926.08
2      542.05   51743.15       0.00    New York   35673.41
47  153441.51  101145.55  407934.54     Florida  191050.39
45  142107.34   91391.77  366168.42     Florida  166187.94
42  130298.13  145530.06  323876.68     Florida  155752.60
37  101913.08  110594.11  229160.95     Florida  146121.95
34   93863.75  127320.38  249839.44     Florida  141585.52
39  119943.24  156547.42  256512.92     Florida  132602.65
32   91749.16  114175.79  294919.57     Florida  124266.90
25   73994.56  122782.75  303319.26     Florida  110352.25
23   67532.53  105751.03  304768.73     Florida  108733.99
26   75328.87  144135.98  134050.07     Florida  105733.54
22   66051.52  182645.56  118148.20     Florida  103282.38
18   61994.48  115641.28   91131.24     Florida   99937.59
16   55493.95  103057.49  214634.81     Florida   96778.92
10   28663.76  127056.21  201126.82     Florida   90708.19
9    27892.92   84710.77  164470.71     Florida   77798.83
4     1315.46  115816.21  297114.46     Florida   49490.75
48  162597.70  151377.59  443898.53  California  191792.06
44  134615.46  147198.87  127716.82  California  156122.51
41  123334.88  108679.17  304981.62  California  149759.96
36  100671.96   91790.61  249744.55  California  144259.40
33   91992.39  135495.07  252664.93  California  134307.35
29   78013.11  121597.55  264346.06  California  126992.93
27   76253.86  113867.30  298664.47  California  118474.03
20   64664.71  139553.16  137962.62  California  107404.34
19   63408.86  129219.61   46085.25  California   97427.84
15   46426.07  157693.92  210797.67  California   96712.80
13   44069.95   51283.14  197029.42  California   89949.14
12   38558.51   82982.09  174999.30  California   81005.76
11   28754.33  118546.05  172795.67  California   78239.91
8    23640.93   96189.63  148001.11  California   71498.49
7    22177.74  154806.14   28334.72  California   65200.33
1        0.00  135426.92       0.00  California   42559.73
0        0.00  116983.80   45173.06  California   14681.40

# 2.Filtering

In [24]:
df['RND']  # df.RND

0          0.00
1          0.00
2        542.05
3       1000.23
4       1315.46
5      15505.73
6      20229.59
7      22177.74
8      23640.93
9      27892.92
10     28663.76
11     28754.33
12     38558.51
13     44069.95
14     46014.02
15     46426.07
16     55493.95
17     61136.38
18     61994.48
19     63408.86
20     64664.71
21     65605.48
22     66051.52
23     67532.53
24     72107.60
25     73994.56
26     75328.87
27     76253.86
28     77044.01
29     78013.11
30     78389.47
31     86419.70
32     91749.16
33     91992.39
34     93863.75
35     94657.16
36    100671.96
37    101913.08
38    114523.61
39    119943.24
40    120542.52
41    123334.88
42    130298.13
43    131876.90
44    134615.46
45    142107.34
46    144372.41
47    153441.51
48    162597.70
49    165349.20
Name: RND, dtype: float64

In [25]:
df.RND

0          0.00
1          0.00
2        542.05
3       1000.23
4       1315.46
5      15505.73
6      20229.59
7      22177.74
8      23640.93
9      27892.92
10     28663.76
11     28754.33
12     38558.51
13     44069.95
14     46014.02
15     46426.07
16     55493.95
17     61136.38
18     61994.48
19     63408.86
20     64664.71
21     65605.48
22     66051.52
23     67532.53
24     72107.60
25     73994.56
26     75328.87
27     76253.86
28     77044.01
29     78013.11
30     78389.47
31     86419.70
32     91749.16
33     91992.39
34     93863.75
35     94657.16
36    100671.96
37    101913.08
38    114523.61
39    119943.24
40    120542.52
41    123334.88
42    130298.13
43    131876.90
44    134615.46
45    142107.34
46    144372.41
47    153441.51
48    162597.70
49    165349.20
Name: RND, dtype: float64

In [26]:
df.ADMIN  # df['ADMIN']

0     116983.80
1     135426.92
2      51743.15
3     124153.04
4     115816.21
5     127382.30
6      65947.93
7     154806.14
8      96189.63
9      84710.77
10    127056.21
11    118546.05
12     82982.09
13     51283.14
14     85047.44
15    157693.92
16    103057.49
17    152701.92
18    115641.28
19    129219.61
20    139553.16
21    153032.06
22    182645.56
23    105751.03
24    127864.55
25    122782.75
26    144135.98
27    113867.30
28     99281.34
29    121597.55
30    153773.43
31    153514.11
32    114175.79
33    135495.07
34    127320.38
35    145077.58
36     91790.61
37    110594.11
38    122616.84
39    156547.42
40    148718.95
41    108679.17
42    145530.06
43     99814.71
44    147198.87
45     91391.77
46    118671.85
47    101145.55
48    151377.59
49    136897.80
Name: ADMIN, dtype: float64

In [ ]:
# Filtering
df[condition]
df[(condition1) & (condition2)]
df[(condition1) | (condition2)]

In [30]:
# Find out data for companies having spent more than 1.5L in Research.

df.RND>150000

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47     True
48     True
49     True
Name: RND, dtype: bool

In [32]:
# Find out data for companies having spent more than 1.5L in Research.

df[df.RND>150000]

          RND      ADMIN        MKT       STATE     PROFIT
47  153441.51  101145.55  407934.54     Florida  191050.39
48  162597.70  151377.59  443898.53  California  191792.06
49  165349.20  136897.80  471784.10    New York  192261.83

In [34]:
# Find out data for Admin having spent more than 1.5L in Research.

df['ADMIN'][df.RND>150000]

47    101145.55
48    151377.59
49    136897.80
Name: ADMIN, dtype: float64

In [35]:
# Find out Data for companies which are located in Florida
#df[condition]
df[df.STATE=='Florida']

          RND      ADMIN        MKT    STATE     PROFIT
4     1315.46  115816.21  297114.46  Florida   49490.75
9    27892.92   84710.77  164470.71  Florida   77798.83
10   28663.76  127056.21  201126.82  Florida   90708.19
16   55493.95  103057.49  214634.81  Florida   96778.92
18   61994.48  115641.28   91131.24  Florida   99937.59
22   66051.52  182645.56  118148.20  Florida  103282.38
23   67532.53  105751.03  304768.73  Florida  108733.99
25   73994.56  122782.75  303319.26  Florida  110352.25
26   75328.87  144135.98  134050.07  Florida  105733.54
32   91749.16  114175.79  294919.57  Florida  124266.90
34   93863.75  127320.38  249839.44  Florida  141585.52
37  101913.08  110594.11  229160.95  Florida  146121.95
39  119943.24  156547.42  256512.92  Florida  132602.65
42  130298.13  145530.06  323876.68  Florida  155752.60
45  142107.34   91391.77  366168.42  Florida  166187.94
47  153441.51  101145.55  407934.54  Florida  191050.39

In [37]:
# Find out data for comapnies not situated in California

df[df.STATE!='California']

          RND      ADMIN        MKT     STATE     PROFIT
2      542.05   51743.15       0.00  New York   35673.41
3     1000.23  124153.04    1903.93  New York   64926.08
4     1315.46  115816.21  297114.46   Florida   49490.75
5    15505.73  127382.30   35534.17  New York   69758.98
6    20229.59   65947.93  185265.10  New York   81229.06
9    27892.92   84710.77  164470.71   Florida   77798.83
10   28663.76  127056.21  201126.82   Florida   90708.19
14   46014.02   85047.44  205517.64  New York   96479.51
16   55493.95  103057.49  214634.81   Florida   96778.92
17   61136.38  152701.92   88218.23  New York   97483.56
18   61994.48  115641.28   91131.24   Florida   99937.59
21   65605.48  153032.06  107138.38  New York  101004.64
22   66051.52  182645.56  118148.20   Florida  103282.38
23   67532.53  105751.03  304768.73   Florida  108733.99
24   72107.60  127864.55  353183.81  New York  105008.31
25   73994.56  122782.75  303319.26   Florida  110352.25
26   75328.87  144135.98  134050.07   Florida  105733.54
28   77044.01   99281.34  140574.81  New York  108552.04
30   78389.47  153773.43  299737.29  New York  111313.02
31   86419.70  153514.11       0.00  New York  122776.86
32   91749.16  114175.79  294919.57   Florida  124266.90
34   93863.75  127320.38  249839.44   Florida  141585.52
35   94657.16  145077.58  282574.31  New York  125370.37
37  101913.08  110594.11  229160.95   Florida  146121.95
38  114523.61  122616.84  261776.23  New York  129917.04
39  119943.24  156547.42  256512.92   Florida  132602.65
40  120542.52  148718.95  311613.29  New York  152211.77
42  130298.13  145530.06  323876.68   Florida  155752.60
43  131876.90   99814.71  362861.36  New York  156991.12
45  142107.34   91391.77  366168.42   Florida  166187.94
46  144372.41  118671.85  383199.62  New York  182901.99
47  153441.51  101145.55  407934.54   Florida  191050.39
49  165349.20  136897.80  471784.10  New York  192261.83

In [38]:
# Find out Companies from Florida who have more than 1.5L profit

df[(df.STATE=='Florida') & (df.PROFIT>150000)]

          RND      ADMIN        MKT    STATE     PROFIT
42  130298.13  145530.06  323876.68  Florida  155752.60
45  142107.34   91391.77  366168.42  Florida  166187.94
47  153441.51  101145.55  407934.54  Florida  191050.39

In [39]:
# Find out Companies from Florida or who have more than 1.5L profit

df[(df.STATE=='Florida') | (df.PROFIT>150000)]

          RND      ADMIN        MKT       STATE     PROFIT
4     1315.46  115816.21  297114.46     Florida   49490.75
9    27892.92   84710.77  164470.71     Florida   77798.83
10   28663.76  127056.21  201126.82     Florida   90708.19
16   55493.95  103057.49  214634.81     Florida   96778.92
18   61994.48  115641.28   91131.24     Florida   99937.59
22   66051.52  182645.56  118148.20     Florida  103282.38
23   67532.53  105751.03  304768.73     Florida  108733.99
25   73994.56  122782.75  303319.26     Florida  110352.25
26   75328.87  144135.98  134050.07     Florida  105733.54
32   91749.16  114175.79  294919.57     Florida  124266.90
34   93863.75  127320.38  249839.44     Florida  141585.52
37  101913.08  110594.11  229160.95     Florida  146121.95
39  119943.24  156547.42  256512.92     Florida  132602.65
40  120542.52  148718.95  311613.29    New York  152211.77
42  130298.13  145530.06  323876.68     Florida  155752.60
43  131876.90   99814.71  362861.36    New York  156991.12
44  134615.46  147198.87  127716.82  California  156122.51
45  142107.34   91391.77  366168.42     Florida  166187.94
46  144372.41  118671.85  383199.62    New York  182901.99
47  153441.51  101145.55  407934.54     Florida  191050.39
48  162597.70  151377.59  443898.53  California  191792.06
49  165349.20  136897.80  471784.10    New York  192261.83

In [40]:
# Find out data for companies who are located in either California or Florida

df[(df.STATE=='California') & (df.STATE=='Florida')]

Empty DataFrame
Columns: [RND, ADMIN, MKT, STATE, PROFIT]
Index: []

In [41]:
# Find out data for companies who are located in either California or Florida

df[(df.STATE=='California') | (df.STATE=='Florida')]

          RND      ADMIN        MKT       STATE     PROFIT
0        0.00  116983.80   45173.06  California   14681.40
1        0.00  135426.92       0.00  California   42559.73
4     1315.46  115816.21  297114.46     Florida   49490.75
7    22177.74  154806.14   28334.72  California   65200.33
8    23640.93   96189.63  148001.11  California   71498.49
9    27892.92   84710.77  164470.71     Florida   77798.83
10   28663.76  127056.21  201126.82     Florida   90708.19
11   28754.33  118546.05  172795.67  California   78239.91
12   38558.51   82982.09  174999.30  California   81005.76
13   44069.95   51283.14  197029.42  California   89949.14
15   46426.07  157693.92  210797.67  California   96712.80
16   55493.95  103057.49  214634.81     Florida   96778.92
18   61994.48  115641.28   91131.24     Florida   99937.59
19   63408.86  129219.61   46085.25  California   97427.84
20   64664.71  139553.16  137962.62  California  107404.34
22   66051.52  182645.56  118148.20     Florida  103282.38
23   67532.53  105751.03  304768.73     Florida  108733.99
25   73994.56  122782.75  303319.26     Florida  110352.25
26   75328.87  144135.98  134050.07     Florida  105733.54
27   76253.86  113867.30  298664.47  California  118474.03
29   78013.11  121597.55  264346.06  California  126992.93
32   91749.16  114175.79  294919.57     Florida  124266.90
33   91992.39  135495.07  252664.93  California  134307.35
34   93863.75  127320.38  249839.44     Florida  141585.52
36  100671.96   91790.61  249744.55  California  144259.40
37  101913.08  110594.11  229160.95     Florida  146121.95
39  119943.24  156547.42  256512.92     Florida  132602.65
41  123334.88  108679.17  304981.62  California  149759.96
42  130298.13  145530.06  323876.68     Florida  155752.60
44  134615.46  147198.87  127716.82  California  156122.51
45  142107.34   91391.77  366168.42     Florida  166187.94
47  153441.51  101145.55  407934.54     Florida  191050.39
48  162597.70  151377.59  443898.53  California  191792.06

# 3.Grouping and aggregation

In [6]:
# Read the Cars93.csv
import pandas as pd
df1 = pd.read_csv('Cars93.csv')
df1

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,37.7,44.6,19,26,NaN,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,89,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17,21,NaN,...,7,187,115,72,38,34.0,NaN,3960,non-USA,Volkswagen Eurovan
89,90,Volkswagen,Passat,Compact,17.6,20.0,22.4,21,30,NaN,...,5,180,103,67,35,31.5,14.0,2985,non-USA,Volkswagen Passat
90,91,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18,25,NaN,...,4,159,97,66,36,26.0,15.0,2810,non-USA,Volkswagen Corrado
91,92,Volvo,240,Compact,21.8,22.7,23.5,21,28,Driver only,...,5,190,104,67,37,29.5,14.0,2985,non-USA,Volvo 240
92,93,Volvo,850,Midsize,24.8,26.7,28.5,20,28,Driver & Passenger,...,5,184,105,69,38,30.0,15.0,3245,non-USA,Volvo 850

## Aggregation functions

1. Mean
2. Min
3. Max
4. Sum
5. median
6. Count

## 1.Column level aggregate

In [ ]:
>> It should be applied on any continuous column

In [7]:
# Find min,max,mean,sum,median,count of the Price column

df1.Price.min()  # df1['Price'].min()

7.4

In [45]:
df1.Price.max()

61.9

In [46]:
df1.Price.mean()

19.509677419354837

In [47]:
df1.Price.sum()

1814.4

In [48]:
df1.Price.median()

17.7

In [8]:
df1.Price.count()

93

## 2. Group level Aggregate >> group by function

In [11]:
#HOMEWORK
# Find min,max,mean,sum,median,count of the Weight column
df1.Weight.min()

1695

In [12]:
df1.Weight.max()

4105

In [13]:
df1.Weight.mean()

3072.9032258064517

In [14]:
df1.Weight.sum()

285780

In [15]:
df1.Weight.median()

3040.0

In [18]:
df1.Weight.count()

93

In [50]:
df1[['Price','Type']]

    Price     Type
0    15.9    Small
1    33.9  Midsize
2    29.1  Compact
3    37.7  Midsize
4    30.0  Midsize
..    ...      ...
88   19.7      Van
89   20.0  Compact
90   23.3   Sporty
91   22.7  Compact
92   26.7  Midsize

[93 rows x 2 columns]

In [ ]:
# Find out type wise average price using groupby function
Aggregation function - mean
Aggregation column   - Price
Grouping column - Type

In [53]:
df1.groupby('Type')['Price'].mean()

Type
Compact    18.212500
Large      24.300000
Midsize    27.218182
Small      10.166667
Sporty     19.392857
Van        19.100000
Name: Price, dtype: float64

In [54]:
df1[['Origin','Weight']]

     Origin  Weight
0   non-USA    2705
1   non-USA    3560
2   non-USA    3375
3   non-USA    3405
4   non-USA    3640
..      ...     ...
88  non-USA    3960
89  non-USA    2985
90  non-USA    2810
91  non-USA    2985
92  non-USA    3245

[93 rows x 2 columns]

In [10]:
# Find out origin wise minimum weight using groupby function
Aggregation function - min
Aggregation column   - Weight
Grouping column - Origin

In [55]:
df1.groupby('Origin')['Weight'].min()

Origin
USA        1845
non-USA    1695
Name: Weight, dtype: int64

In [ ]:
# Find out details of the compnies who have invested least in MKT in every state
1. Grouping column(STATE)
2. Aggregation column(MKT)
3. Aggregate operation(min)

In [57]:
df.groupby('STATE')['MKT'].min()

STATE
California        0.00
Florida       91131.24
New York          0.00
Name: MKT, dtype: float64

In [ ]:
# Find out total investment in RND in every state
1. Grouping column(STATE)
2. Aggregation column(RND)
3. Aggregate operation(sum)

In [58]:
df.groupby('STATE')['RND'].sum()

STATE
California    1099180.46
Florida       1291584.26
New York      1295316.06
Name: RND, dtype: float64

In [65]:
df['RND'][df.STATE=='California'].sum()

1099180.46

In [ ]:
# Read the credit.csv
Drop Unnamed:0 and ID columns and create a new DF
1.Find out total number of people who have 2 cards
2.Find out total number of people who have 2 cards and are Not Married
3.Find out Genderwise average Income
4.Find out Ethinicity wise count of candidates
5.Find out total number of married and unmmaried candidates

In [47]:
df2 = pd.read_csv('Credit.csv')
df2

,Unnamed: 0,ID,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,1,1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,2,2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,3,3,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,4,4,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,5,5,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,396,396,12.096,4100,307,3,32,13,Male,No,Yes,Caucasian,560
396,397,397,13.364,3838,296,5,65,17,Male,No,No,African American,480
397,398,398,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian,138
398,399,399,37.728,2525,192,1,44,13,Male,No,Yes,Caucasian,0
399,400,400,18.701,5524,415,5,64,7,Female,No,No,Asian,966

In [48]:
df2.drop(['Unnamed: 0','ID'],axis=1,inplace=True)
df2

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331
...,...,...,...,...,...,...,...,...,...,...,...
395,12.096,4100,307,3,32,13,Male,No,Yes,Caucasian,560
396,13.364,3838,296,5,65,17,Male,No,No,African American,480
397,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian,138
398,37.728,2525,192,1,44,13,Male,No,Yes,Caucasian,0
399,18.701,5524,415,5,64,7,Female,No,No,Asian,966

In [54]:
#1.Find out total number of people who have 2 cards
df2[df2['Cards'] == 2]

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,106.025,6645,483,2,82,15,Female,Yes,Yes,Asian,903
2,104.593,7075,514,2,71,11,Male,No,No,Asian,580
3,148.924,9504,681,2,36,11,Female,No,No,Asian,964
4,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331
...,...,...,...,...,...,...,...,...,...,...,...
395,12.096,4100,307,2,32,13,Male,No,Yes,Caucasian,560
396,13.364,3838,296,2,65,17,Male,No,No,African American,480
397,57.872,4171,321,2,67,12,Female,No,Yes,Caucasian,138
398,37.728,2525,192,2,44,13,Male,No,Yes,Caucasian,0
399,18.701,5524,415,2,64,7,Female,No,No,Asian,966

In [57]:
#2.Find out total number of people who have 2 cards and are Not Married
df2.query("Cards == 2 and Married == 'No'")

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
2,104.593,7075,514,2,71,11,Male,No,No,Asian,580
3,148.924,9504,681,2,36,11,Female,No,No,Asian,964
5,80.180,8047,569,2,77,10,Male,No,No,Caucasian,1151
6,20.996,3388,259,2,37,12,Female,No,No,African American,203
7,71.408,7114,512,2,87,9,Male,No,No,Asian,872
...,...,...,...,...,...,...,...,...,...,...,...
392,25.974,2308,196,2,24,10,Male,No,No,Asian,0
393,17.316,1335,138,2,65,13,Male,No,No,African American,0
394,49.794,5758,410,2,40,8,Male,No,No,Caucasian,734
396,13.364,3838,296,2,65,17,Male,No,No,African American,480
399,18.701,5524,415,2,64,7,Female,No,No,Asian,966

In [59]:
#3.Find out Genderwise average Income
df2.groupby('Gender')['Income'].mean()

Gender
 Male     45.610316
Female    44.853928
Name: Income, dtype: float64

In [61]:
#4.Find out Ethinicity wise count of candidates
df2.groupby('Ethnicity').count()

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Balance
Ethnicity,,,,,,,,,,
African American,99,99,99,99,99,99,99,99,99,99
Asian,102,102,102,102,102,102,102,102,102,102
Caucasian,199,199,199,199,199,199,199,199,199,199

In [62]:
#5.Find out total number of married and unmmaried candidates
df2.groupby('Married')['Income'].count()

Married
No     155
Yes    245
Name: Income, dtype: int64