# Tuple

In [ ]:
Immutable Data Type >> Unchangable >> We can not modify tuple
Ordered
Allows duplicate item
Tuple are faster than list
We can add any datatypes items

tuple are enclosed by ()
comma seperated

In [1]:
# Tuple can have items of any datatype
tuple1 = (3,4.5,5,6,7,'python',[4,5],(3,4,5))
tuple1

(3, 4.5, 5, 6, 7, 'python', [4, 5], (3, 4, 5))

In [2]:
# check type
type(tuple1)

tuple

In [3]:
# Find length
len(tuple1)

8

In [3]:
# empty tuple
tup1 = ()

In [5]:
# Replace 5 with 1000 >> List are mutable
list1 = [3,4,5,6,7]
list1[2] = 1000
list1

[3, 4, 1000, 6, 7]

In [8]:
# Replace 5 with 1000 >> Tuple are immutable
tuple1 = (3,4,5,6,7)
tuple1[2] = 1000

TypeError: 'tuple' object does not support item assignment

In [9]:
# `Tuples are ordered
tuple1 = (3,10,6,5,8,20,15,11)
tuple1

(3, 10, 6, 5, 8, 20, 15, 11)

In [10]:
# set are not ordered
set1 = {3,10,6,5,8,20,15,11}
set1

{3, 5, 6, 8, 10, 11, 15, 20}

In [11]:
# Duplicates are allowed in tuple
tuple1 = (3,4,5,6,7,4,5,4)
tuple1

(3, 4, 5, 6, 7, 4, 5, 4)

In [12]:
# Duplicates are not allowed in set
set1 = {3,4,5,6,7,4,5,4}
set1

{3, 4, 5, 6, 7}

# indexing and slicing

In [13]:
tuple1 = (10,20,30,15,25,35,50,55)
tuple1[5]

35

In [14]:
tuple1 = (10,20,30,15,25,35,50,55)
tuple1[-2]

50

In [15]:
tuple1 = (10,20,30,15,25,35,50,55)
tuple1[2:5]

(30, 15, 25)

In [16]:
tuple1 = (10,20,30,15,25,35,50,55)
tuple1[1:5:2]

(20, 15)

In [17]:
tuple1 = (10,20,30,15,25,35,50,55)
tuple1[::-1]

(55, 50, 35, 25, 15, 30, 20, 10)

# Delete items

In [19]:
# using del keyword delete index 2 item
tuple1 = (10,20,30,15,25,35,50,55)

del tuple1[2]

TypeError: 'tuple' object doesn't support item deletion

In [20]:
# using del keyword delete tuple
tuple1 = (10,20,30,15,25,35,50,55)

del tuple1

In [21]:
tuple1

NameError: name 'tuple1' is not defined

# Tuple operations

In [23]:
# use '+' operator on below variables
city_names = ('Mumbai','PUNE',"Delhi")
state_names = ('Maharashtra','Karnataka','Gujrat')

city_names + state_names

('Mumbai', 'PUNE', 'Delhi', 'Maharashtra', 'Karnataka', 'Gujrat')

In [26]:
# using '*' operator 
city_names = ('Mumbai','PUNE',"Delhi")

print(city_names*3)

('Mumbai', 'PUNE', 'Delhi', 'Mumbai', 'PUNE', 'Delhi', 'Mumbai', 'PUNE', 'Delhi')

# Access item using for loop

In [27]:
# using for loop access all items in tuple
tuple1 = ('Mumbai', 'PUNE', 'Delhi', 'Maharashtra', 'Karnataka', 'Gujrat')

for item in tuple1:
    print(item)

Mumbai
PUNE
Delhi
Maharashtra
Karnataka
Gujrat

In [28]:
# use enumerate function
tuple1 = ('Mumbai', 'PUNE', 'Delhi', 'Maharashtra', 'Karnataka', 'Gujrat')

for index,item in enumerate(tuple1):
    print(index,item)

0 Mumbai
1 PUNE
2 Delhi
3 Maharashtra
4 Karnataka
5 Gujrat

# check item in tuple

In [29]:
# check PUNE is in tuple or not
tuple1 = ('Mumbai', 'PUNE', 'Delhi', 'Maharashtra', 'Karnataka', 'Gujrat')

'PUNE' in tuple1

True

# Tuple functions

1. count()
2. index()

# 1.count

In [30]:
# Find count of Mumbai in tuple
city_names = ('Mumbai', 'PUNE', 'Delhi','Mumbai', 'Chennai', 'Delhi')

city_names.count('Mumbai')

2

In [31]:
# Find count of Mumbai in tuple
city_names = ('Mumbai', 'PUNE', 'Delhi','Mumbai', 'Chennai', 'Delhi')

city_names.count('Chennai')

1

# 2.index

In [32]:
# find index of Chennai in the tuple
city_names = ('Mumbai', 'Pune', 'Delhi','Mumbai', 'Chennai', 'Delhi')

city_names.index('Chennai')

4